{% extends 'app/Branch/layout.html' %}



{% block pageTitle %}NAT| Parametres: Supprimer{% endblock %}


{% block content %}
<!-- page content -->
<div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Branches <small>(soyez prudent Arsene)</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <!-- <th>#</th> -->
                          <th>Nom</th>
                          <th>Balance</th>
                          <th>Monnaie</th>
                          <th>Actions</th>
                          <th>Geler la branche</th>
                        </tr>
                      </thead>
                      <tbody>
                          {% for branch in  all_the_branches %}
                          <tr>
                          <!-- <th scope="row">{{ branch.id }}</th> -->
                          <td>{{ branch.name }}</td>
                          <td>{{ branch.current_balance }}</td>
                          <td>{{ branch.currency }}</td>
                          <td>
                              <a href="{% url 'refuel_branch' branch.id %}">
                              <button id="send" type="submit" class="btn btn-info">ravitailler</button></a></i>
                              <a href="{% url 'edit_branch' branch.id %}">
                              <button id="send" type="submit" class="btn btn-warning">modifier</button></a></i>
                              <!--  <a href="{% url 'delete_branch' branch.id %}">
                              <button id="send" type="submit" class="btn btn-danger">supprimer</button></a></i> -->
                          </td>
                          <td>
                              <form>
                                  <input type="checkbox" name="freeza" id="{{ branch.id }}"  onchange="doalert(this)" {% if branch.isFrozen %}checked{% endif %}>
                              </form>
                          </td>
                         </tr>
                            {% endfor %}
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
<script>
                                      function doalert(checkboxElem) {
                                        if (checkboxElem.checked) {
                                            window.location = "{% url 'freez_branch' 1234 %}".replace(/1234/, checkboxElem.id.toString());
                                        }
                                        else {
                                            window.location = "{% url 'unfreez_branch' 1234 %}".replace(/1234/, checkboxElem.id.toString());
                                        }
                                        }
                                  </script>
{% endblock %}