{% extends 'app/Branch/layout.html' %}



{% block pageTitle %}NAT| Historiques: {{ branch_to_treat.name }}{% endblock %}


{% block content %}
<!-- page content -->

{% if request.session.transaction_history_period_error == True %}
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <strong>Erreur!</strong> S'il vous plait, veuillez preciser la periode. L'annee, le mois et le jour sont requis.
    </div>
{% endif %}
<p><h2>Historique des transferts| {{ branch_to_treat.name }}</h2></p>
    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="x_title">
            <small>Periode: </small>
            <form class="form-inline" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-md-2 col-sm-5 col-xs-12">
                          <select name="year" class="form-control input-sm">
                            <option value="">Annee</option>
                            {% for year in years %}
                            <option value="{{ year }}">{{ year }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                <div class="form-group">
                    <div class="col-md-2 col-sm-5 col-xs-12">
                      <select name="month" class="form-control input-sm">
                        <option value="">Mois</option>
                        <option value="1">Janvier</option>
                        <option value="2">Fevrier</option>
                        <option value="3">Mars</option>
                        <option value="4">Avril</option>
                        <option value="5">Mai</option>
                        <option value="6">Juin</option>
                        <option value="7">Juillet</option>
                        <option value="8">Aout</option>
                        <option value="9">Septembre</option>
                        <option value="10">Octobre</option>
                        <option value="11">Novembre</option>
                        <option value="12">Decembre</option>
                      </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 col-sm-5 col-xs-12">
                      <select name="day" class="form-control input-sm">
                        <option value="">Jour</option>
                        {% for day in days %}
                        <option value="{{ day }}">{{ day }}</option>
                        {% endfor %}
                      </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 col-sm-5 col-xs-12">
                        <button type="submit" class="btn btn-default btn-md">Collect</button>
                    </div>
                </div>
            </form>
            <div class="clearfix"></div>
        </div>
        <div class="ln_solid"></div>
        {% if request.session.show_transfer_table == True %}
        <strong>Total recu : {{ total_obtained_out }} {{ branch_to_treat.currency }}</strong></br>
        <strong>Total payee : {{ total_obtained_in }} {{ branch_to_treat.currency }}</strong>
        <div class="x_content">
            <!-- <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="row">
                    <div class="col-sm-6"><div class="dataTables_length" id="datatable_length">
                        <label>
                            Show <select name="datatable_length" aria-controls="datatable" class="form-control input-sm">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select> entries
                        </label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div id="datatable_filter" class="dataTables_filter">
                        <label>
                            Search:<input type="search" class="form-control input-sm" placeholder="" aria-controls="datatable">
                        </label>
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-sm-12">
                    <table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Nom: activate to sort column descending" style="width: 114px;">Date</th>
                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Branch: activate to sort column ascending" style="width: 150px;">Branche recevante</th>
                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Agent: activate to sort column ascending" style="width: 132px;">Reference</th>
                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" >Status</th>
                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" >Direction</th>
                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Code: activate to sort column ascending" style="width: 123px;">Transfert</th>
                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Code: activate to sort column ascending" style="width: 123px;">Frais</th>
                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 115px;">Total des entrees</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr role="row" class="odd">
                                <td style="visibility: hidden"></td>
                                <td style="visibility: hidden"></td>
                                <td style="visibility: hidden"></td>
                                <td style="visibility: hidden"></td>
                                <td style="visibility: hidden"></td>
                                <td style="visibility: hidden"></td>
                                <td>Balance a l'ouverture</td>
                                <td>{{ balance_ouverture }}</td>
                            </tr>
                            {% for time, ref, branch, amount_to_send, total_costs_percentage, total_paid_by_sender, direction, status, transfer_id in refined_list %}
                            <tr role="row" class="odd">
                                <td class="sorting_1">{{ time }}</td>
                                <td>{{ branch }}</td>
                                <td>
                                    {%if transfer_id != '#' %}
                                        <a href="{% url 'transaction_details' transfer_id %}">{{ ref  }}</a>
                                    {% else %}
                                        {{ ref  }}
                                    {% endif %}
                                    </td>
                                <td>{{ status }} </td>
                                {% if direction == 'in' %}
                                <td>Sortie</td>
                                {% endif %}
                                {% if direction == 'out' %}
                                <td>Entree</td>
                                {% endif %}
                                <td>{{ amount_to_send }}</td>
                                <td>{{ total_costs_percentage }}</td>
                                <td>{{ total_paid_by_sender }}</td>
                            </tr>
                            {% endfor %}
                            <tr role="row" class="odd">
                                <td style="visibility: hidden"></td>
                                <td style="visibility: hidden"></td>
                                <td style="visibility: hidden"></td>
                                <td style="visibility: hidden"></td>
                                <td style="visibility: hidden"></td>
                                <td style="visibility: hidden"></td>
                                <td>Balance a la fermeture</td>
                                <td>{{ balance_fermeture }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        <div class="row">
        <!--
        <div class="col-sm-5">
            <div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">
                Showing 1 to 9 of 9 entries
            </div>
        </div>
        <div class="col-sm-7">
            <div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
                <ul class="pagination">
                    <li class="paginate_button previous disabled" id="datatable_previous">
                        <a href="#" aria-controls="datatable" data-dt-idx="0" tabindex="0">Previous</a>
                    </li>
                    <li class="paginate_button active">
                        <a href="#" aria-controls="datatable" data-dt-idx="1" tabindex="0">1</a>
                    </li>
                    <li class="paginate_button next disabled" id="datatable_next">
                        <a href="#" aria-controls="datatable" data-dt-idx="2" tabindex="0">Next</a>
                    </li>
                </ul>
            </div>
        </div>
        -->
    </div>
</div>
</div>
        {% endif %}
        </div>
      </div>
    </div>
{% endblock %}