{% extends 'app/Branch/layout.html' %}



{% block pageTitle %}NAT| Parametres: Modifier les couts{% endblock %}


{% block content %}
<!-- page content -->
<div class="x_title">
                    <h2>Couts existants</h2>
                    <div class="clearfix"></div>
<table class="table">
                      <thead>
                        <tr>
                          <th>-</th>
                          <th>Nom de la Branche</th>
                          <th>Monnaie</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for cost in  all_costs %}
                        <tr>
                          <th scope="row">-</th>
                          <td>{{ cost.item }}</td>
                          <td> {{ cost.percentage }} %</td>
                          <td>
                              <a href="{% url 'costs_delete' cost.id %}">
                              <button>supprimer</button></a></i>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>


            <!-- Add cost -->
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Ajouter un cout a inclure lors des transactions</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    <form method='post' id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                        {%csrf_token%}
                        {% for error in form.non_field_errors %}
                        <div class="form-group has-errors text-danger small">
                            {{error}}
                        </div>
                        {% endfor %}
                        {% for field in form %}

                        <div class="form-group has-errors text-danger small">
                            {{field.errors}}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.field.id_for_label }}" class="control-label col-md-3 col-sm-3 col-xs-12"><b>{{ field.label }}</b></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{field}}
                            </div>
                        </div>

                        {% endfor %}
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
						  <button class="btn btn-primary" type="reset">Reset</button>
                          <button type="submit" class="btn btn-success">Soumettre</button>
                        </div>
                      </div>

                    </form>
                    </div>

{% endblock %}