{% extends 'app/Branch/layout.html' %}



{% block pageTitle %}NAT| Parametres: Modifier les taux{% endblock %}


{% block content %}


<!-- page content -->

                    <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Taux de change <small>| taux mis a jour: </small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <table class="table">
                      <thead>
                        <tr>
                          <th>Monnaie</th>
                          <th>Monnaie de coversion</th>
                          <th>Taux</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for rate in rates %}
                        <tr>
                          <th scope="row">{{ rate.currency_from }}</th>
                          <td>{{ rate.currency_to }}</td>
                          <td> {{ rate.value }} </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
<div class="clearfix"></div>
                  </div>
                    <br />
                    <form method='post' id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                        {% for curr in currencies %}
                        {{ curr.name }}
                        {% endfor %}
                        {%csrf_token%}
                        {% for error in form.non_field_errors %}
                        <div class="form-group has-errors text-danger small">
                            {{error}}
                        </div>
                        {% endfor %}
                        {% for field in form %}

                        <div class="form-group has-errors text-danger small">
                            {{field.errors}}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.field.id_for_label }}" class="control-label col-md-3 col-sm-3 col-xs-12"><b>{{ field.label }}</b></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{field}}
                            </div>
                        </div>

                        {% endfor %}
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
						  <button class="btn btn-primary" type="reset">Reset</button>
                          <button type="submit" class="btn btn-success">Soumettre</button>
                        </div>
                      </div>

                    </form>

{% endblock %}