{% extends 'app/Branch/layout.html' %}



{% block pageTitle %}NAT| Parametres: Creer un branche{% endblock %}


{% block content %}
<!-- page content -->
                  <div class="x_title">
                    <h2>Modifier la branche : {{ branch_to_edit.name }}</h2>
                    <div class="clearfix"></div>
                  </div>
                  {% if registration_status == False %}
                  <div class="alert alert-warning alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    Une erreur est survenue. Verifiez que vous avez remplis toutes les informations requises
                  </div>
                  {% endif %}
                  <div class="x_content">
                    <form method="post" class="form-horizontal form-label-left" novalidate>
                        {% csrf_token %}
                      <span class="section"></span>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="surname">Nom <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input name="name" value="{{ branch_to_edit.name }}" type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Nom de la branche">
                          <span class="fa fa-university form-control-feedback left" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Mot de passe</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" class="form-control" name="pass" value={{ branch_to_edit.passPhrase }}>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Branch">Monnaie de change <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select name="currency" class="form-control">
                            <option value = "{{ branch_to_edit_currency.name }}" >{{ branch_to_edit_currency.name }}</option>
                            {% for currency in list_of_currencies %}
                                {% if currency.name != branch_to_edit_currency.name %}
                                    <option value = "{{ currency.name }}">{{ currency.name }}</option>
                                {% endif %}
                            {% endfor %}
                          </select>
                        </div>
                      </div>

                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                          <a href="{% url 'admin_branch' %}"><button class="btn btn-primary">Annuler</button></a>
                          <button id="send" type="submit" class="btn btn-success">Soumettre</button>
                        </div>
                      </div>
                    </form>
                  </div>

{% endblock %}