{% extends 'app/Branch/layout.html' %}



{% block pageTitle %}NAT| Parametres: Modifier les couts{% endblock %}


{% block content %}
    <!-- page content -->

    {% for branch, id, count, t_in, t_out, tr_paid in branch_and_transfer_count %}
        {% if count == 0 %}
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <!-- <div class="icon"><i class="fa fa-sort-amount-desc"></i></div> -->
                  <div class="count">{{ count }}</div>
                  <h3>{{ branch }}</h3>
                  <p>Entrees/Sorties : {{ t_in }}/{{ t_out }}</p>
                </div>
              </div>
        {% endif %}
        {% if count > 0 %}
            <a href="{% url 'balance_tracker' id %}">
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <!-- <div class="icon"><i class="fa fa-sort-amount-desc"></i></div> -->
                  <div class="count">{{ count }}</div>
                  <h3>{{ branch }}</h3>
                  <p>Entrees(payee)/Sorties : {{ t_in }}({{ tr_paid }})/{{ t_out }}</p>
                </div>
              </div>
            </a>
        {% endif %}
    {% endfor %}
{% endblock %}