{% extends 'app/Branch/layout.html' %}



{% block pageTitle %}NAT| Parametres: Cout du transfert{% endblock %}


{% block content %}
        <!-- page content -->
{% if request.session.display_computation != True %}
<div class="col-md-6">
              <div class="x_panel">
                <div class="x_title">
                    <h2>Ravitillement de la branche {{ branch.name }}</h2>
                    <div class="clearfix"></div>
                  </div>
                  {% if request.session.display_error == True %}
                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    <strong>Erreur!</strong> Veuillez entrer un montant valide.
                  </div>
                  {% endif %}

                  <div class="x_content">
                    <form method='post' id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                        {%csrf_token%}
                        <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="surname">Montant
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input name="amount" type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Montant a ajouter">
                          <span class="fa fa-money form-control-feedback left" aria-hidden="true"></span>
                          <i class="green">Balance actuelle: {{ branch.current_balance }} {{ currency.symbol }}</i>
                        </div>
                      </div>
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-8 col-sm-6 col-xs-12 col-md-offset-3">

                          <a href="{% url 'cancel_refueling' %}"><button type="button" class="btn btn-danger">annuler</button></a>
                          <button type="submit" class="btn btn-success">continuer</button>
                        </div>
                      </div>

                    </form>
                  </div>
                 </div>
</div>

{% else %}
<div class="col-md-6">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Mis a jour de la balnce</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content"><table class="table table-striped">
                      <thead>
                        <tr>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Balance actuelle</th>
                          <td>{{ branch.current_balance }} {{ currency.symbol }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Nouvelle balance <bold></bold></th>
                          <td>{{ request.session.next_balance }} {{ currency.symbol }}</td>
                        </tr>
                      </tbody>
                    </table></div>
                    <a href="{% url 'cancel_refueling' %}"><button type="button" class="btn btn-danger">annuler</button></a>
                :&emsp;<a href="{% url 'refuel_branch' branch.id %}"><button class="btn btn-success">accepter</button></a>
              </div>

            </div>
{% endif %}
        <!-- /page content -->

{% endblock %}