{% extends 'app/Branch/layout.html' %}
{% load staticfiles  %}

{% block pageTitle %}NAT| Parametres: Cout du transfert{% endblock %}


{% block content %}
        <!-- page content -->
<div class="col-md-6">
              <div class="x_panel">
                <div class="x_title">
                    <h2>Calcule du cout de la transaction</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                      <center><img src="{% static 'app/resources/images/nat-global-logo.jpeg' %}" class="img-responsive" alt="NATGS" width="100px" height="90px"></center>
                      
                      <form method='post' id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                        {%csrf_token%}
                        {% for error in form.non_field_errors %}
                        <div class="form-group has-errors text-danger small">
                            {{error}}
                        </div>
                        {% endfor %}
                        {% for field in form %}
                        <div class="form-group has-errors text-danger small">
                            {{field.errors}}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.field.id_for_label }}" class="control-label col-md-3 col-sm-3 col-xs-12"><b>{{ field.label }}</b></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{field}}
                            </div>
                        </div>
                        {% endfor %}
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-8 col-sm-6 col-xs-12 col-md-offset-3">

                          <a href="{% url 'cancel_transaction' %}"><button type="button" class="btn btn-danger">annuler</button></a>
                          <button type="submit" class="btn btn-success">calculer</button>
                        </div>
                      </div>

                    </form>
                  </div>
                 </div>
</div>
{% if request.session.display_computation == True %}

<div class="col-md-6">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Resume des couts</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <center><img src="{% static 'app/resources/images/nat-global-logo.jpeg' %}" class="img-responsive" alt="NATGS" width="100px" height="90px"></center>
                <div class="x_content"><table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Object</th>
                          <th>Cout</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Total a envoyer</th>
                          <td>{{ transaction_amount }} {{ current_branch.currency }}</td>
                        </tr>
                        {% for cost, cost_value in list_of_applied_costs %}
                        <tr>
                          <th scope="row">Frais <bold>{{ cost }}</bold></th>
                          <td>{{ cost_value }} {{ current_branch.currency }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                          <th scope="row">Cout total de la transaction</th>
                          <td>{{ total_to_pay }} {{ current_branch.currency }}</td>
                        </tr>
                        {% if rate.value != 1.0 %}
                        <tr>
                          <th scope="row">Total a recevoir en {{ transfer_currency.name }}</th>
                          <td>{{ total_if_rate }} au taux de {{ rate.value }}</td>
                        </tr>
                        {% endif %}
                      </tbody>
                    </table></div>
                <center><a href='{% url 'get_sender' %}'><button class="btn btn-success">continuer</button></a></center>
              </div>

            </div>
{% endif %}
        <!-- /page content -->

{% endblock %}