{% extends 'app/Branch/layout.html' %}


{% block pageTitle %}NAT| Transfer : Envoyer{% endblock %}


{% block content %}
<!-- page content -->
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Recevoir</h2>
                    <div class="clearfix">
                    </div>
                  </div>
                  <div class="x_content">
                    <br />
                    {% if request.session.display_transfer_not_found is True %}
                        <div class="alert alert-danger alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                            </button>
                            Transfert non existant! <a href="{% url 'new_client' %}"></a>
                        </div>
                    {% endif %}
                    <form method="post" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="code" class="control-label col-md-3 col-sm-3 col-xs-12">Numero de reference</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="form-control col-md-7 col-xs-12" type="text" name="ref_number">
                            </div>
                        </div>
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <a href="{% url 'dashboard' %}"><button class="btn btn-primary" type="button">Annuler</button></a>
						  <button class="btn btn-primary" type="reset">Reset</button>
                          <button type="submit" class="btn btn-success">Soumettre</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
<!-- /page content -->
{% endblock %}