{% extends 'app/Branch/layout.html' %}
{% load staticfiles  %}


{% block pageTitle %}NAT| Transfer : Envoyer{% endblock %}


{% block content %}
<!-- page content -->
<div class="alert alert-success alert-dismissible fade in" role="alert">
    <div role="presentation" class="dropdown">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
  </button>
  <strong>Hoorah!</strong> Le système est maintenant équipé d'une recherche plus pratique. 
    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
        <strong>Cliquez-ici</strong>
    </a>
    <ul id="menu1" class="dropdown-menu list-unstyled" role="menu">
      <li>
        <a>
            <span class="message">
                Nous avons remarqué que très souvent, les numéros des clients sont enregistrés différemments dépendant de l'pérateur NAT.
                <br/>D'où, nous avons rendu la recherche du client acteur d'un transfert d'argent plusa facile en rendant possible la re-
                <br/>cherche avec non seulement le numéro de téléphone, mais aussi les noms du client. 
                <br/>
                <br/>Illustration:
                <br/>Soit un client Mbeng Jean-Marc ayant comme numéro de téléphone 02 06 09 78. 
                <br/>Les recherches avec comme mot-clés "Marc", "Mar", "Jean-Marc", "jean", "0206" ou encore "02060978", renveront parmis
                <br/>leurs résultats le client Mbeng Jean-Marc. 
                <br/>
                <br/>A vous de tester et de faire part de tout erreur lors du processuss.
              </span>
        </a>
      </li>
    </ul>
    pour en savoir plus
  </div>
</div>

{% if request.session.current_client_taking == 'Destinataire' and isClient == None %}

{% endif %}
                    <h2>Details du Client: {{ request.session.current_client_taking }}</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <form class="form-horizontal form-label-left"  method='post' id="frm">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-6 form-group">
                                  <input type="search" {% if request.session.show_results %}value="{{ keyword }}" {% endif %}name="keyword" placeholder="Numéro de Tél. ou noms du clients" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-md-12">&ensp;
                              <a href="{% url 'cancel_transaction' %}" id="save_transaction"><button type="button" class="btn btn-danger"><i class="fa fa-ban"> </i> annuler la transaction</button></a>
                              <button id="send" type="submit" class="btn btn-success"><i class="fa fa-search"> </i> chercher</button>
                              <a href="{% url 'new_client' %}"><button type="button" class="btn btn-alert"><i class="fa fa-user-plus"> </i> enregistrer un nouveau client</button></a>
                              <script>
                                  document.querySelector("#frm").addEventListener("submit", function(e){
                                      frm = $('#frm');
                                      document.getElementById("send").disabled = true;
                                      frm.submit();
                                  });
                              </script>
                            </div>
                        </div>
                    </form>
</div>
{% if request.session.show_results %}
<div class="col-md-12 col-sm-12 col-xs-12">
              <div class="dashboard_graph">

                <div class="row x_title">
                  <div class="col-md-6">
                    <h3><small>{{ number_of_hit }} clients trouvé(s) avec '<strong>{{ keyword }}</strong>' dans leur {{ request.session.keyword_value_type }}</small></h3>
                  </div>
                </div>

                <div class="col-md-9 col-sm-9 col-xs-12">
                    {% for client in clients %}
                        <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                        <div class="well profile_view">
                          <div class="col-sm-12">
                            <div class="left col-xs-7">
                              <h2> {{ client.surname }} , {{ client.names }} </h2>
                              <ul class="list-unstyled">
                                <li><i class="fa fa-mail"></i>{{ client.email }}</li>
                                <li><i class="fa fa-phone"></i> {{ client.contactNumber }}</li>
                              </ul>
                            </div>
                            <div class="right col-xs-5 text-center">
                              <img src="{% static 'app/Bootstrap/production/images/user.png' %}" alt="" class="img-circle img-responsive">
                            </div>
                          </div>
                          <div class="col-xs-12 bottom text-center">
                            <a href="{% url 'process_transaction_actor' client.id %}">
                                 <button type="button" class="btn btn-primary btn-xs">
                                <i class="fa fa-plus"> </i> ajouter comme {{ request.session.current_client_taking }}
                              </button>
                            </a>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                </div>

                <div class="clearfix"></div>
              </div>
            </div>
        <!-- /page content -->
        {% endif %}
{% endblock %}