{% extends 'app/Branch/layout.html' %}
{% load staticfiles  %}


{% block pageTitle %}NAT| Transfer : Envoyer{% endblock %}


{% block content %}
<!-- page content -->


{% if request.session.current_client_taking == 'Destinataire' and isClient == None %}

{% endif %}
                    <h2>Details du Client: {{ request.session.current_client_taking }}</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

{% if isClient == None or isClient == False %}
                    <!-- Verify Client -->

                    {% if isClient != False %}
                    <p><i class="purple"><i class="fa fa-info-circle"></i></i> Entrez le numero de contact du client pour verification. Sinon, <a href="{% url 'new_client' %}">enregistrez-le</a>.</p>
                    <p><i class="purple"><i class="fa fa-info-circle"></i></i> N'oubliez donc pas le code du pays. (exemple: 0027 pour un numero de l'afrique du sud) </p>
                    {% endif %}


                    {% if isClient is False %}
                        <div class="alert alert-danger alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                            </button>
                            Il n'esxiste pas de client enregistre avec ce numero de contact. <a href="{% url 'new_client' %}"><strong>Enregistrer un nouveau client?</strong></a>
                        </div>
                    {% endif %}
                    <form class="form-horizontal form-label-left"  method='post' id="frm">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ form.as_p }}
                                </br>
                                <a href="{% url 'cancel_transaction' %}" id="save_transaction"><button type="button" class="btn btn-danger"><i class="fa fa-ban"> </i> annuler la transaction</button></a>
                                <button id="send" type="submit" class="btn btn-success"><i class="fa fa-search"> </i> rechercher</button>
                                <script>
                                    document.querySelector("#frm").addEventListener("submit", function(e){
                                        frm = $('#frm');
                                        document.getElementById("send").disabled = true;
                                        frm.submit();
                                    });
                                </script>
                            </div>
                        </div>
                    </form>
{% endif %}
</div>
        <!-- /page content -->
{% endblock %}