{% extends 'app/Branch/layout.html' %}


{% block pageTitle %}NAT| Transfer : Envoyer{% endblock %}


{% block content %}
<!-- page content -->
    <!-- Sender details -->
    <div class="x_title">
        <h2>Envoyeur</h2>
        <li class="media event">
            <a class="pull-left border-aero profile_thumb">
                <i class="fa fa-user aero"></i>
            </a>
            <div class="media-body">
                <a class="title" href="#">{{ sender.surname }} {{ sender.names }}</a>
            <p><strong>{{ sender.contactNumber }}</strong>  </p>
            <p> <small>email: {{ sender.email }}</small> </p>
            </div>
        </li>
    </div>
<br/>
<h2>Details du beneficiaire</h2>
<form method="post" class="form-horizontal form-label-left" novalidate>
                        {% csrf_token %}
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="surname">Nom <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input name="surname" type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Nom de famille">
                          <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="surname">Prenom et Postnom <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input name="names" type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Prenom et Postnom">
                          <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone">Numero <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input name="contactNumber" type="text" class="form-control has-feedback-left" id="inputSuccess5" placeholder="Numero">
                          <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                        </div>
                      </div>

                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <a href="{% url 'cancel_transaction' %}"><button type="button" class="btn btn-danger">annuler</button></a>
                            <button type="reset" value="reset" class="btn btn-primary">tout effacer</button>
                            <button id="send" type="submit" class="btn btn-success">envoyer</button>
                        </div>
                      </div>
                    </form>
<!-- /page content -->
{% endblock %}