{% extends 'app/Branch/layout.html' %}


{% block pageTitle %}NAT| Enregistrer un client{% endblock %}

{% block content %}
{% if registration_status == True %}
<div class="alert alert-success alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    Le client <strong><a>{{ new_client.names }} {{ new_client.surname }}</a></strong> a ete enregistrez correctement!
                  </div>
{% endif %}
{% if registration_status == False %}
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    <strong>Une erreur a eu lieu et le client n'a pas pu etre enregistrez. veuillez reessayer</strong>
                  </div>
{% endif %}
{% if registration_status == 'exists' %}
      <div class="alert alert-warning alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
            </button>
            Le client <strong><a>{{ new_client.names }} {{ new_client.surname }}</a></strong> existe deja!
     </div>
 {% endif %}
                  <div class="x_title">
                    <h2>Enregistrer une depense</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                      {% if request.session.error != '' %}
                        <div class="alert alert-danger alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    <strong>Error!</strong> {{ request.session.error }}
                  </div>
                      {% endif %}
                    <form method="post" class="form-horizontal form-label-left" novalidate>
                        {% csrf_token %}
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Branch">Branche <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select name="type" class="form-control">
                            <option value="">Choisir le type de depense</option>
                            <option value="Change">Change</option>
                            <option value="Deposit">Depot bancaire</option>
                            <option value="Internet">Internet</option>
                            <option value="Loyer">Loyer</option>
                            <option value="Transport">Transport</option>
                          </select>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="surname">Montant
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input name="amount" type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Montant">
                          <span class="fa fa-money form-control-feedback left" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                          <a href="{% url 'cancel_transaction' %}"><button class="btn btn-primary">Annuler</button></a>
                          <button id="send" type="submit" class="btn btn-success">Soumettre</button>
                        </div>
                      </div>
                    </form>
                  </div>
        <!-- /page content -->
{% endblock %}