{% extends 'app/Branch/layout.html' %}
{% load staticfiles  %}

{% block pageTitle %}NAT| Transfer : Envoyer{% endblock %}


{% block content %}
<!-- page content -->

<div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><i class="fa fa-align-left"></i> Details de la transaction</h2>
                    <ul class="nav navbar-right panel_toolbox"><div class="btn-group">
                      <button type="button" class="btn btn-danger">Action</button>
                      <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        {% if transfer.isCollected == False %}
                            {% if computations.branch_to == request.session.current_branch_name or request.session.current_branch_name == 'arsene' %}
                                <li><a href="{% url 'pay_transfer' transfer.id %}">Marquer comme payee</a></li>
                            {% endif %}
                            {% if request.session.current_branch_name == 'arsene' %}
                            <script>
                                function confirmCancellation() {
                                    var txt;
                                    if (confirm("Vous etes sur le point d'annuler cette transaction! Annluer une transacation supprimera tout details la concernant et ne pourra plus etre recupere. Souhaitez-vous poursuivre?") == true) {
                                        window.location = "{% url 'delete_transfer' transfer.id  %}";
                                        }
                                    }
                            </script>
                                <li><a href="{% url 'transaction_details_edit' transfer.id %}">Modifier details</a></li>
                                <li><a><button type="button" onclick="confirmCancellation()" class="btn btn-default btn-xs" style="padding: 0;border: none;background: none;">Annuler la transaction</button></a></li>
                                <!-- <li><a href="{% url 'transaction_details_edit' transfer.id %}">Changer de beneficiaire</a></li> -->
                            {% endif %}
                        {% endif %}
                      </ul>
                    </div></ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                      <center><img src="{% static 'app/resources/images/nat-global-logo.jpeg' %}" class="img-responsive" alt="NATGS" width="100px" height="90px"></center>
                    <h2>Numero de reference:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ transfer.reference }}</h2>
                    <!-- start accordion -->
                    <div class="accordion" id="accordion1" role="tablist" aria-multiselectable="true">
                      <div class="panel">
                        <a class="panel-heading" role="tab" id="headingOne1" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne">
                          <h4 class="panel-title">Trasaction</h4>
                        </a>
                        <div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                          <div class="panel-body">
                            <table class="countries_list">
                            <tbody>
                            <tr>
                                <td>Date</td>
                                <td class="fs15 fw700 text-right">{{ transaction.time }}</td>
                              </tr>
                             <tr>
                                <td>Status</td>
                                <td class="fs15 fw700 text-right"><strong>{{ transfer_status }}</strong></td>
                              </tr>
                              <tr>
                                <td>Montant envoyer</td>
                                <td class="fs15 fw700 text-right">{{ computations.amount }} {{ author_currency }}</td>
                              </tr>
                              <tr>
                                <td>Montant a recevoir</td>
                                <td class="fs15 fw700 text-right">{{ computations.total_if_rate }} {{ computations.currency_from }}</td>
                              </tr>
                              <tr>
                                <td>Provenant de</td>
                                <td class="fs15 fw700 text-right">{{ author_branch }}</td>
                              </tr>
                              <tr>
                                <td>A recevoir a la branche de</td>
                                <td class="fs15 fw700 text-right">{{ computations.branch_to }}</td>
                              </tr>
                            </tbody>
                          </table>
                          </div>
                        </div>
                      </div>
                      <div class="panel">
                        <a class="panel-heading collapsed" role="tab" id="headingTwo1" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo">
                          <h4 class="panel-title">Details du beneficiaire</h4>
                        </a>
                        <div id="collapseTwo1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                          <div class="panel-body">
                                <div class="x_title">
                                    <h2>Destinataire</h2>
                                    <li class="media event">
                                        <a class="pull-left border-aero profile_thumb">
                                            <i class="fa fa-user aero"></i>
                                        </a>
                                        <div class="media-body">
                                            <a class="title" href="{% url 'client_details' receiver.id %}" target="_blank">{{ receiver.surname }} {{ receiver.names }}</a>
                                        <p><strong>{{ receiver.contactNumber }}</strong>  </p>
                                        <p> <small>Banque: {{ receiver.bank_name }}</small> </p>
                                        <p><small>N* de compte: {{ receiver.bank_account_number }}</small></p>
                                        </div>
                                    </li>
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="panel">
                        <a class="panel-heading collapsed" role="tab" id="headingThree1" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1" aria-expanded="false" aria-controls="collapseThree">
                          <h4 class="panel-title">Details de l'expediteur</h4>
                        </a>
                        <div id="collapseThree1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                          <div class="panel-body">
                             <div class="x_title">
                                    <h2>Destinataire</h2>
                                    <li class="media event">
                                        <a class="pull-left border-aero profile_thumb">
                                            <i class="fa fa-user aero"></i>
                                        </a>
                                        <div class="media-body">
                                            <a class="title" href="{% url 'client_details' sender.id %}" target="_blank">{{ sender.surname }} {{ sender.names }}</a>
                                        <p><strong>{{ sender.contactNumber }}</strong>  </p>
                                        <p> <small>email: {{ sender.email }}</small> </p>
                                        </div>
                                    </li>
                                </div>
                         </div>
                        </div>
                      </div>
                    </div>
                    <!-- end of accordion -->


                  </div>
                </div>
              </div>

    {% if request.session.transfer_edit_mode == True %}
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-edit"></i> Modifier les details du beneficiaire/expeditaire</h2>
                <ul class="nav navbar-right panel_toolbox">

                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                    <form method="post" class="form-horizontal form-label-left" action="{% url 'transaction_details_edit' transfer.id %}" novalidate>
                        {% csrf_token %}
                        <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="surname">Nom <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                  <input name="client_receiver_surname" type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="{{ receiver.surname }}">
                                  <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                </div>
                              </div>
                        <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="surname">Prenom et Postnom <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                  <input name="client_receiver_names" type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="{{ receiver.names }}">
                                  <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                </div>
                              </div>
                        <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone">Numero <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                  <input name="client_receiver_contactNumber" type="text" class="form-control has-feedback-left" id="inputSuccess5" placeholder="{{ receiver.contactNumber }}">
                                  <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                                </div>
                              </div>
                        <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Branch">Branche recevante<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                  <select name="Branch" class="form-control">
                                    <option></option>
                                    {% for branch in all_branches %}
                                    <option>{{ branch.name }}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                              </div>

<div class="ln_solid"></div>
                              <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="surname">Nom <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                  <input name="client_sender_surname" type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="{{ sender.surname }}">
                                  <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                </div>
                              </div>
                        <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="surname">Prenom et Postnom <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                  <input name="client_sender_names" type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="{{ sender.names }}">
                                  <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                </div>
                              </div>
                        <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone">Numero <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                  <input name="client_sender_contactNumber" type="text" class="form-control has-feedback-left" id="inputSuccess5" placeholder="{{ sender.contactNumber }}">
                                  <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                                </div>
                              </div>
                        <div class="ln_solid"></div>
                        <div class="item form-group">
                            <div class="col-md-6 col-md-offset-3">
                               <a href="{% url 'transaction_details_edit_cancel' transfer.id %}"><button class="btn btn-primary">Annuler</button></a>
                               <button id="send" type="submit" class="btn btn-success">Soumettre</button>
                            </div>
                        </div>
                        </div>
                    </form>
                  </div>
        </div>
    </div>
    {% endif %}
{% endblock %}