{% extends 'app/Branch/layout.html' %}
{% block pageTitle %}NAT| Transfer : Envoyer{% endblock %}
{% block content %}
{% if request.session.current_client_taking == 'Destinataire' and request.session.current_transaction == 'Transfer' %}
    <a href="{% url 'get_sender' %}"><button class="btn btn-info"> Retour </button></a>
    <a href="{% url 'cancel_transaction' %}"><button class="btn btn-danger"> Annuler le transfer </button></a>
{% elif request.session.current_client_taking == None  and request.session.current_transaction == 'Transfer' %}
    <a href="{% url 'get_receiver' %}"><button class="btn btn-info"> Retour </button></a>
    <a href="{% url 'cancel_transaction' %}"><button class="btn btn-danger"> Annuler le transfer </button></a>
{% endif %}
<div class="row">
<form id="frm" method="post" class="form-horizontal form-label-left" novalidate>
                        {% csrf_token %}
                    <span class="section"> Info Personnelle
                    {% if request.session.current_client_taking == 'Destinataire' %}
                        de l'Expediteur
                    {% elif request.session.current_client_taking == None and request.session.current_transaction == 'Transfer' %}
                        du Destinatatire
                    {% else %}
                        du client
                    {% endif %}
                    </span>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="surname">Nom <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input name="surname" type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Nom de famille" value="{{ client.surname }}">
                          <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        </div>
                      </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="surname">Prenom et Postnom <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input name="names" type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Prenom et Postnom" value="{{ client.names }}">
                          <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="item form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="birthdate">Date de naissance <span class="required">*</span>
                          </label>
                          <div class="daterangepicker dropdown-menu ltr single opensright show-calendar picker_2 xdisplay">
                            <div class="calendar left single" style="display: block;">
                              <div class="daterangepicker_input">
                                <input class="input-mini form-control active" type="text" name="daterangepicker_start" value="" style="display: none;">
                                <i class="fa fa-calendar glyphicon glyphicon-calendar" style="display: none;"></i>
                                <div class="calendar-time" style="display: none;"><div></div><i class="fa fa-clock-o glyphicon glyphicon-time"></i></div></div>
                                <div class="calendar-table">
                                  <table class="table-condensed">
                                    <thead>
                                      <tr>
                                        <th class="prev available"><i class="fa fa-chevron-left glyphicon glyphicon-chevron-left"></i></th>
                                        <th colspan="5" class="month">Oct 2016</th><th class="next available"><i class="fa fa-chevron-right glyphicon glyphicon-chevron-right"></i></th></tr><tr>
                                          <th>Su</th><th>Mo</th><th>Tu</th><th>We</th><th>Th</th><th>Fr</th>
                                          <th>Sa</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td class="weekend off available" data-title="r0c0">25</td>
                                          <td class="off available" data-title="r0c1">26</td>
                                          <td class="off available" data-title="r0c2">27</td>
                                          <td class="off available" data-title="r0c3">28</td>
                                          <td class="off available" data-title="r0c4">29</td><td class="off available" data-title="r0c5">30</td><td class="weekend available" data-title="r0c6">1</td></tr><tr><td class="weekend available" data-title="r1c0">2</td><td class="available" data-title="r1c1">3</td><td class="available" data-title="r1c2">4</td><td class="available" data-title="r1c3">5</td><td class="available" data-title="r1c4">6</td><td class="available" data-title="r1c5">7</td><td class="weekend available" data-title="r1c6">8</td></tr><tr><td class="weekend available" data-title="r2c0">9</td><td class="available" data-title="r2c1">10</td><td class="available" data-title="r2c2">11</td><td class="available" data-title="r2c3">12</td><td class="available" data-title="r2c4">13</td><td class="available" data-title="r2c5">14</td><td class="weekend available" data-title="r2c6">15</td></tr><tr><td class="weekend available" data-title="r3c0">16</td><td class="available" data-title="r3c1">17</td><td class="today active start-date active end-date available" data-title="r3c2">18</td><td class="available" data-title="r3c3">19</td><td class="available" data-title="r3c4">20</td><td class="available" data-title="r3c5">21</td><td class="weekend available" data-title="r3c6">22</td></tr><tr><td class="weekend available" data-title="r4c0">23</td><td class="available" data-title="r4c1">24</td><td class="available" data-title="r4c2">25</td><td class="available" data-title="r4c3">26</td><td class="available" data-title="r4c4">27</td><td class="available" data-title="r4c5">28</td><td class="weekend available" data-title="r4c6">29</td></tr><tr><td class="weekend available" data-title="r5c0">30</td><td class="available" data-title="r5c1">31</td><td class="off available" data-title="r5c2">1</td><td class="off available" data-title="r5c3">2</td><td class="off available" data-title="r5c4">3</td><td class="off available" data-title="r5c5">4</td><td class="weekend off available" data-title="r5c6">5</td></tr></tbody></table></div></div><div class="calendar right" style="display: none;"><div class="daterangepicker_input"><input class="input-mini form-control" type="text" name="daterangepicker_end" value="" style="display: none;"><i class="fa fa-calendar glyphicon glyphicon-calendar" style="display: none;"></i><div class="calendar-time" style="display: none;"><div></div><i class="fa fa-clock-o glyphicon glyphicon-time"></i></div></div><div class="calendar-table"><table class="table-condensed"><thead><tr><th></th><th colspan="5" class="month">Nov 2016</th><th class="next available"><i class="fa fa-chevron-right glyphicon glyphicon-chevron-right"></i></th></tr><tr><th>Su</th><th>Mo</th><th>Tu</th><th>We</th><th>Th</th><th>Fr</th><th>Sa</th></tr></thead><tbody><tr><td class="weekend off available" data-title="r0c0">30</td><td class="off available" data-title="r0c1">31</td><td class="available" data-title="r0c2">1</td><td class="available" data-title="r0c3">2</td><td class="available" data-title="r0c4">3</td><td class="available" data-title="r0c5">4</td><td class="weekend available" data-title="r0c6">5</td></tr><tr><td class="weekend available" data-title="r1c0">6</td><td class="available" data-title="r1c1">7</td><td class="available" data-title="r1c2">8</td><td class="available" data-title="r1c3">9</td><td class="available" data-title="r1c4">10</td><td class="available" data-title="r1c5">11</td><td class="weekend available" data-title="r1c6">12</td></tr><tr><td class="weekend available" data-title="r2c0">13</td><td class="available" data-title="r2c1">14</td><td class="available" data-title="r2c2">15</td><td class="available" data-title="r2c3">16</td><td class="available" data-title="r2c4">17</td><td class="available" data-title="r2c5">18</td><td class="weekend available" data-title="r2c6">19</td></tr><tr><td class="weekend available" data-title="r3c0">20</td><td class="available" data-title="r3c1">21</td><td class="available" data-title="r3c2">22</td><td class="available" data-title="r3c3">23</td><td class="available" data-title="r3c4">24</td><td class="available" data-title="r3c5">25</td><td class="weekend available" data-title="r3c6">26</td></tr><tr><td class="weekend available" data-title="r4c0">27</td><td class="available" data-title="r4c1">28</td><td class="available" data-title="r4c2">29</td><td class="available" data-title="r4c3">30</td><td class="off available" data-title="r4c4">1</td><td class="off available" data-title="r4c5">2</td><td class="weekend off available" data-title="r4c6">3</td></tr><tr><td class="weekend off available" data-title="r5c0">4</td><td class="off available" data-title="r5c1">5</td><td class="off available" data-title="r5c2">6</td><td class="off available" data-title="r5c3">7</td><td class="off available" data-title="r5c4">8</td><td class="off available" data-title="r5c5">9</td><td class="weekend off available" data-title="r5c6">10</td></tr></tbody></table></div></div><div class="ranges" style="display: none;"><div class="range_inputs"><button class="applyBtn btn btn-sm btn-success" type="button">Apply</button> <button class="cancelBtn btn btn-sm btn-default" type="button">Cancel</button></div></div></div>
                          <fieldset>
                           <div class="control-group">
                             <div class="controls">
                               <div class="col-md-3 xdisplay_inputx form-group has-feedback">
                                 <input type="text" {% if client.birthdate != None %} value="{{ client.birthdate.month }}/{{ client.birthdate.day }}/{{ client.birthdate.year }}" {% endif %} class="form-control has-feedback-left" id="single_cal2" name="birthdate" aria-describedby="inputSuccess2Status2">
                                 <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                 <span id="inputSuccess2Status2" class="sr-only">(success)</span>
                               </div>
                             </div>
                           </div>
                         </fieldset>
                       </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input name="Email" type="text" class="form-control has-feedback-left" id="inputSuccess4" placeholder="Email" value="{{ client.email }}">
                          <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                        </div>
                      </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone">Numero <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input name="contactNumber" type="tel" class="form-control has-feedback-left" id="inputSuccess5" placeholder="Numero" value="{{ client.contactNumber }}">
                          <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                        </div>
                      </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Branch">Branche <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select name="Branch" class="form-control">
                            <option>{{ client_branch.name }}</option>
                            {% for branch in other_branch %}
                            <option>{{ branch.name }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    <span class="section"> Details bancaire</span>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="surname">Nom de la banque
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input name="bank_name" type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Nom de la banque" value="{{ client.bank_name }}">
                          <span class="fa fa-bank form-control-feedback left" aria-hidden="true"></span>
                        </div>
                      </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="surname">Numero de compte</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input name="bank_account_number" type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Numero de compte" value="{{ client.bank_account_number }}">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        </br>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 col-md-offset-3">
                          <button id="send" type="submit" class="btn btn-success">Enregistrer{% if request.session.current_transaction == 'Transfer' %} et Continuer{% endif %}</button></br>
                          <script>
                                    document.querySelector("#frm").addEventListener("submit", function(e){
                                        frm = $('#frm');
                                        document.getElementById("send").disabled = true;
                                        frm.submit();
                                    });
                                </script>
                        </div>
                      </div>
                    </form>
</div>
{% endblock %}