{% load staticfiles  %}

<!DOCTYPE html>
<html lang="en">
  <head>


    {% if current_branch_name == '' or current_branch_name == ' ' %}
        <meta http-equiv="REFRESH" content="0;url={% url 'logout' %}">
    {% endif %}

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="apple-touch-icon" sizes="180x180" href="{% static 'app/Bootstrap/production/favicons/apple-touch-icon.png' %}">
      <link rel="icon" type="image/png" sizes="32x32" href="{% static 'app/Bootstrap/production/favicons/favicon-32x32.png' %}">
      <link rel="icon" type="image/png" sizes="16x16" href="{% static 'app/Bootstrap/production/favicons/favicon-16x16.png' %}">
      <link rel="manifest" href="{% static 'app/Bootstrap/production/favicons/manifest.json' %}">
      <link rel="mask-icon" href="{% static 'app/Bootstrap/production/favicons/safari-pinned-tab.svg' %}" color="#483152">
      <meta name="theme-color" content="#ffffff">

    <title>
    {% block pageTitle %}

    {% endblock %}
    </title>

    <!-- Bootstrap -->
    <link href="{% static 'app/Bootstrap/vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{% static 'app/Bootstrap/vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{% static 'app/Bootstrap/vendors/nprogress/nprogress.css' %}" rel="stylesheet">
    <!-- iCheck -->
    <link href="{% static 'app/Bootstrap/vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="{% static 'app/Bootstrap/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet">
    <!-- JQVMap -->
    <link href="{% static 'app/Bootstrap/vendors/jqvmap/dist/jqvmap.min.css' %}" rel="stylesheet"/>
    <!-- bootstrap-daterangepicker -->
    <link href="{% static 'app/Bootstrap/vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{% static 'app/Bootstrap/build/css/custom.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'app/Bootstrap/build/css/CustBranch.css' %}" />
    <!-- Calendar -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.1/fullcalendar.min.js">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.1/fullcalendar.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.1/fullcalendar.print.css">
    <link href="{% static 'app/Bootstrap/vendors/moment/min/moment-with-locales.min.js' %}" rel="stylesheet">
    <link href="{% static 'app/Bootstrap/vendors/moment/min/moment.min.js' %}" rel="stylesheet">
    </head>

  <body class="nav-md footer_fixed">
    <div class="container body">
      <div class="main_container">
          <div class="col-md-6 col-xs-6" style="position:absolute;left:0; right:0; top:0; bottom:0; margin:auto;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    </br>
                    </br>
                    </br>
              <div class="x_panel">
                <div class="x_title">

                  <h2>
                      <span class="glyphicon glyphicon-warning-sign" aria-hidden="true">Vérification des comptes</span>
                    </h2>
                  <div class="clearfix">
                  </div>
                </div>
                <div class="x_content">
                <p class="font-gray-dark">
                Le system rapporte que la balance de <strong>{{ branch.name }}</strong> est de <strong>{{ branch.current_balance }}</strong> {{ branch.currency }}.
                Veuillez vérifier vos comptes et valider en cliquant sur l'un des boutons ci-dessous.
                </p>
                <center>
                <a href="{% url 'self_unfreez' branch.id %}"><button type="button" class="btn btn-success">Oui, les comptes sont bons</button></a>
                <a href="{% url 'file_mismatch_balance_record' branch.id %}"><button type="button" class="btn btn-danger">Non, cette balance ne correspond pas à celle en main</button></a>
                </center>
                </div>
              </div>
            </div>
          </div>
        <!-- footer content -->
        <footer>
          <div class="pull-right">
            <p>
               copyright &copy;; 2017 Developed by <a href="https://www.linkedin.com/in/n%C3%A9h%C3%A9mie-balukidi-a1b57183/" data-toggle="tooltip" title="Software Engineer"n style="color: grey">NN. Balukidi</a><!-- & <a href="#" data-toggle="tooltip" title="Front Designer" style="color: grey">FA ILunga</a> -->. Tous droits réservés.
            </p>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>

    <!-- jQuery -->
    <script src="{% static 'app/Bootstrap/vendors/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'app/Bootstrap/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'app/Bootstrap/vendors/fastclick/lib/fastclick.js' %}"></script>
    <!-- NProgress -->
    <script src="{% static 'app/Bootstrap/vendors/nprogress/nprogress.js' %}"></script>
    <!-- jQuery Smart Wizard -->
    <script src="{% static 'app/Bootstrap/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js' %}"></script>
    <!-- Chart.js -->
    <script src="{% static 'app/Bootstrap/vendors/Chart.js/dist/Chart.min.js' %}"></script>
    <!-- gauge.js -->
    <script src="{% static 'app/Bootstrap/vendors/gauge.js/dist/gauge.min.js' %}"></script>
    <!-- bootstrap-progressbar -->
    <script src="{% static 'app/Bootstrap/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
    <!-- iCheck -->
    <script src="{% static 'app/Bootstrap/vendors/iCheck/icheck.min.js' %}"></script>
    <!-- Skycons -->
    <script src="{% static 'app/Bootstrap/vendors/skycons/skycons.js' %}"></script>
    <!-- Flot -->
    <script src="{% static 'app/Bootstrap/vendors/Flot/jquery.flot.js' %}"></script>
    <script src="{% static 'app/Bootstrap/vendors/Flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'app/Bootstrap/vendors/Flot/jquery.flot.time.js' %}"></script>
    <script src="{% static 'app/Bootstrap/vendors/Flot/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'app/Bootstrap/vendors/Flot/jquery.flot.resize.js' %}"></script>
    <!-- Flot plugins -->
    <script src="{% static 'app/Bootstrap/vendors/flot.orderbars/js/jquery.flot.orderBars.js' %}"></script>
    <script src="{% static 'app/Bootstrap/vendors/flot-spline/js/jquery.flot.spline.min.js' %}"></script>
    <script src="{% static 'app/Bootstrap/vendors/flot.curvedlines/curvedLines.js' %}"></script>
    <!-- DateJS -->
    <script src="{% static 'app/Bootstrap/vendors/DateJS/build/date.js' %}"></script>
    <!-- JQVMap -->
    <script src="{% static 'app/Bootstrap/vendors/jqvmap/dist/jquery.vmap.js' %}"></script>
    <script src="{% static 'app/Bootstrap/vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
    <script src="{% static 'app/Bootstrap/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{% static 'app/Bootstrap/vendors/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'app/Bootstrap/vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{% static 'app/Bootstrap/build/js/custom.min.js' %}"></script>
  </body>
</html>