{% extends 'app/Branch/layout.html' %}



{% block pageTitle %}{{ branch_to_treat.name }}|Historique des transactions{% endblock %}


{% block content %}

<!-- Balance Tracker -->
<div class="x_content">
    <div class="col-md-5">
        Choisissez la periode:
        <form class="form-horizontal" method="post">
            {% csrf_token %}
          <fieldset>
            <div class="control-group">
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                  <input type="text" name="range-picker" id="reservation-time" class="form-control" value="">
                </div>
                    <a href="{% url 'history_transfer' %}"><button class="btn btn-primary" type="button">Annuler</button></a>
                    <button id="send" type="submit" class="btn btn-success">collecter</button>

                    <script language="javascript">
                    function printdiv(printpage)
                    {
                        var headstr = "<html><head><title>Historique: {{ branch_to_treat.name }}</title></head><body><h2>Branch: {{ branch_to_treat.name }} </h2><p>Transactions between {{ date_begin }} and {{ date_end }} ||<strong>{{ number_of_transactions }}</strong> Transactions</p><div class='row'><div class='col-sm-12'  id='div_history'><table id='datatable' class='table table-striped table-bordered dataTable no-footer' role='grid' aria-describedby='datatable_info'><thead><tr role='row'><th class='sorting_asc' tabindex='0' aria-controls='datatable' rowspan='1' colspan='1' aria-sort='ascending' aria-label='Nom: activate to sort column descending'>Date</th><th class='sorting' tabindex='0' aria-controls='datatable' rowspan='1' colspan='1' aria-label='Branch: activate to sort column ascending'>Transaction type| Numero de reference</th><th class='sorting' tabindex='0' aria-controls='datatable' rowspan='1' colspan='1' aria-label='Agent: activate to sort column ascending'>Debit</th><th class='sorting' tabindex='0' aria-controls='datatable' rowspan='1' colspan='1' aria-label='Date: activate to sort column ascending' >Credit</th><th class='sorting' tabindex='0' aria-controls='datatable' rowspan='1' colspan='1' aria-label='Date: activate to sort column ascending' >Balance</th></tr></thead><tbody>{% if number_of_transactions > 0 %}<tr role='row' class='odd'><td>{{ date_begin }}</td><td>Balance d'ouverture de la branche</td><td></td><td></td><td>{{ branch_to_treat.current_balance }}</td></tr>{% for link, date, code_or_type, debit, comission_debit, credit, comission_credit, balance in list_of_transactions_on_selected_period %}<tr role='row' class='odd'><td>{{ date }}</td>{% if link == '#' %}<td>{{ code_or_type }}</td>{% else %}<td>{{ code_or_type }}</td>{% endif %}<td>{% if debit != 0 %}-{% endif %}{{ debit }}</td><td>{{ credit }}</td><td>{{ balance }}</td></tr>{% endfor %}<tr role='row' class='odd'><td style='visibility: hidden'>{{ date }}</td><td ><strong>Totaux</strong></td><td><strong>{{ total_debit }}</strong></td><td><strong>{{ total_credit }}</strong></td><td></td></tr>{% endif %}</tbody></table></div>";
                        var footstr = "</body>";
                        var newstr = document.all.item(printpage).innerHTML;
                        var oldstr = document.body.innerHTML;
                        document.body.innerHTML = headstr+footstr;
                        window.print();
                        document.body.innerHTML = oldstr;
                        location.reload()
                    }
                    </script>
                    <button class="btn btn-primary hidden-print {% if number_of_transactions == 0 %}disabled{% endif %}" onclick="printdiv('div_history');;"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Imprimer</button>

              </div>
            </div>
          </fieldset>
        </form>
    </div>
<br/>
<h2>Branch: {{ branch_to_treat.name }} </h2>
<p>Transactions between {{ date_begin }} and {{ date_end }} ||<strong>{{ number_of_transactions }}</strong> Transactions</p>
<div class="row">
                <div class="col-sm-12"  id='div_history'>
                    <table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Nom: activate to sort column descending">Date</th>
                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Branch: activate to sort column ascending">Transaction type| Numero de reference</th>
                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Agent: activate to sort column ascending">Debit</th>
                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" >Credit</th>
                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending">Balance</th>
                                {% if request.session.current_branch_name == 'arsene' %}
                                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" >Commission sur Debit</th>
                                {% endif %}
                                {% if request.session.current_branch_name == 'arsene' %}
                                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" >Commission sur Credit</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% if number_of_transactions > 0 %}
                                <tr role="row" class="odd">
                                    <td>{{ date_begin }}</td>
                                    <td>Balance d'ouverture de la branche</td>
                                    <td></td>
                                    <td></td>
                                    <td style="border-right: 20px solid #f9f9f9;">{{ branch_to_treat.current_balance }}</td>
                                </tr>
                                {% for link, date, code_or_type, debit, comission_debit, credit, comission_credit, balance in list_of_transactions_on_selected_period %}
                                <tr role="row" class="odd">
                                    <td>{{ date }}</td>
                                    {% if link == '#' %}
                                        <td>{{ code_or_type }}</td>
                                    {% else %}
                                        <td><a target="_blank" href="{% url 'transaction_details' link %}">{{ code_or_type }}</a></td>
                                    {% endif %}
                                    <td>{% if debit != 0 %}-{% endif %}{{ debit }}</td>
                                    <td>{{ credit }}</td>
                                    <td style="border-right: 20px solid #f9f9f9;">{{ balance }}</td>
                                    {% if request.session.current_branch_name == 'arsene' %}
                                        <td>{{ comission_debit }}</td>
                                    {% endif %}
                                    {% if request.session.current_branch_name == 'arsene' %}
                                        <td>{{ comission_credit }}</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                <tr role="row" class="odd">
                                    <td style="visibility: hidden">{{ date }}</td>
                                    <td ><strong>Totaux</strong></td>
                                    <td><strong>{{ total_debit }}</strong></td>
                                    <td><strong>{{ total_credit }}</strong></td>
                                    <td style="border-right: 20px solid #f9f9f9;"></td>
                                    {% if request.session.current_branch_name == 'arsene' %}
                                        <td><strong>{{ total_comission_debit }}</strong></td>
                                    {% endif %}
                                    {% if request.session.current_branch_name == 'arsene' %}
                                        <td><strong>{{ total_comission_credit }}</strong></td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>

{% endblock %}