{% extends 'app/Branch/layout.html' %}



{% block pageTitle %}NAT| Branch: Accueil{% endblock %}


{% block content %}
<!-- page content -->
<div class="row tile_count">
    {%for rate in all_rates %}
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-exchange" aria-hidden="true"></i> {{ rate.currency_from }} -> {{ rate.currency_to }}</span>
              <div class="count">{{ rate.value }}</div>
              <!-- <span class="count_bottom"><i class="green">4% </i> From last Week</span> -->
            </div>
    {% endfor %}
</div>

{% if number_of_notification != 0 %}
<div class="col-md-8">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Notifications </h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    {%for notification in unread_notifications %}
        <div class="alert alert-info alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <strong>{{ notification.Title }}</strong> </br>
            <small>{{ notification.Date }}</small><br/>
            {{ notification.Content }}
        </div>
    {% endfor %}
                  </div>
                </div>
              </div>
              {% endif %}
{% endblock %}