{% extends 'app/Branch/layout.html' %}



{% block pageTitle %}NAT| Historiques: {{ branch_to_treat.name }}{% endblock %}


{% block content %}
<!-- page content -->

<p><h2>Liste des clients|</h2></p>
    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="x_title">
{% if request.session.current_branch_name == 'arsene' %}
            <form class="form-inline" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-md-2 col-sm-5 col-xs-12">
                          <select name="branch" class="form-control input-sm">
                            {% for branch in all_branches %}
                            <option value="{{ branch.name }}">{{ branch.name }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                <div class="form-group">
                    <div class="col-md-2 col-sm-5 col-xs-12">
                        <button type="submit" class="btn btn-default btn-md">Collect</button>
                    </div>
                </div>
            </form>
{% endif %}
            <div class="clearfix"></div>
        </div>
        <div class="ln_solid"></div>
        <strong>Total nombre de client sur {{ branch_to_treat }} : {{ count }}/{{ count_total }} Clients de NAT</strong>
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Noms</th>
                          <th>Numero de contact</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for client in branch_clients %}
                            <tr>
                              <td><a href="{% url 'client_details' client.id %}">{{ client.surname }} {{ client.names }}</a></td>
                              <td>{{ client.contactNumber }}</td>
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
            </div>
        <div class="row">
    </div>
</div>
</div>
        </div>
      </div>
    </div>
{% endblock %}