{% extends 'app/Branch/layout.html' %}



{% block pageTitle %}NAT| Historiques: {{ branch_to_treat.name }}{% endblock %}


{% block content %}
<ul class="stats-overview">
    <li>
      <span class="name"> <strong>Valeur du client</strong> </span>
      <span class="value text-success" style="color:rgb(99, 29, 96);"> {{ client.worth }} {{ client_branch.currency }}</span>
    </li>
    <li>
      <span class="name"><strong> Branche du client</strong> </span>
      <span class="value text-success" style="color:rgb(99, 29, 96);"> {{ client_branch.name }} </span>
    </li>
    <li class="hidden-phone">
      <span class="name"> Carte de Fidelité </span>
      <span class="value text-success"> {{ client.fidelity_card_number }} </span>
    </li>
  </ul>
<div class="col-md-4 col-sm-4 col-xs-12">
              <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                  <h2>Details personels</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a href="{% url 'check_client' client.id %}" data-toggle="tooltip" title="Mêttre à jour les détails"><i class="fa fa-pencil-square" style="font-size:30px;color:rgb(99, 29, 96);" aria-hidden="true"></i></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content" style="white-space: nowrap;"><table class="table table-hover">
                      <thead>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Nom</td>
                          <td>{{ client.surname }}</td>
                        </tr>
                        <tr>
                          <td>Prenom et Postnom</td>
                          <td>{{ client.names }}</td>
                        </tr>
                        <tr>
                          <td>Date de naissance</td>
                          <td>{{ client.birthdate }}</td>
                        </tr>
                        <tr>
                          <td>Numero de Contact</td>
                          <td>{{ client.contactNumber }}</td>
                        </tr>
                        <tr>
                          <td>E-mail</td>
                          <td>{{ client.email }}</td>
                        </tr>
                        <tr>
                          <td>Banque</td>
                          <td>{{ client.bank_name }}</td>
                        </tr>
                        <tr>
                          <td>Numero de Compte Bancaire</td>
                          <td>{{ client.bank_account_number }}</td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                    </div>
              </div>
            </div>

<div class="col-md-8 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Historiques| <small>transactions recues</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Date</th>
                          <th>Numero de ref.</th>
                          <th>Provenance</th>
                          <th>Montant</th>
                          <th>Expediteur</th>
                        </tr>
                      </thead>
                      <tbody>
                          {% for date, ref, provenance, amount, sender, transfer_id in output_received %}
                        <tr>
                          <th scope="row"> {{ date  }}</th>
                          <td><a target="_blank" href="{% url 'transaction_details' transfer_id %}">{{ ref  }}</a></td>
                          <td>{{ provenance  }}</td>
                          <td>{{ amount  }}</td>
                          <td>{{ sender }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>

                  </div>
                </div>

<div class="x_panel">
                  <div class="x_title">
                    <h2>Historiques| <small>transactions faites</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Date</th>
                          <th>Numero de ref.</th>
                          <th>Provenance</th>
                          <th>Montant</th>
                          <th>Destinataire</th>
                        </tr>
                      </thead>
                      <tbody>
                          {% for date, ref, provenance, amount, receiver, transfer_id in output_sent %}
                        <tr>
                          <th scope="row"> {{ date  }}</th>
                          <td><a href="{% url 'transaction_details' transfer_id %}">{{ ref  }}</a></td>
                          <td>{{ provenance  }}</td>
                          <td>{{ amount  }}</td>
                          <td>{{ receiver }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>


{% endblock %}