{% load staticfiles  %}

<!DOCTYPE html>
<html lang="en">
  <head>


    {% if current_branch_name == '' or current_branch_name == ' ' %}
        <meta http-equiv="REFRESH" content="0;url={% url 'logout' %}">
    {% endif %}

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="apple-touch-icon" sizes="180x180" href="{% static 'app/Bootstrap/production/favicons/apple-touch-icon.png' %}">
      <link rel="icon" type="image/png" sizes="32x32" href="{% static 'app/Bootstrap/production/favicons/favicon-32x32.png' %}">
      <link rel="icon" type="image/png" sizes="16x16" href="{% static 'app/Bootstrap/production/favicons/favicon-16x16.png' %}">
      <link rel="manifest" href="{% static 'app/Bootstrap/production/favicons/manifest.json' %}">
      <link rel="mask-icon" href="{% static 'app/Bootstrap/production/favicons/safari-pinned-tab.svg' %}" color="#483152">
      <meta name="theme-color" content="#ffffff">

    <title>
    {% block pageTitle %}

    {% endblock %}
    </title>

    <!-- Bootstrap -->
    <link href="{% static 'app/Bootstrap/vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{% static 'app/Bootstrap/vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{% static 'app/Bootstrap/vendors/nprogress/nprogress.css' %}" rel="stylesheet">
    <!-- iCheck -->
    <link href="{% static 'app/Bootstrap/vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="{% static 'app/Bootstrap/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet">
    <!-- JQVMap -->
    <link href="{% static 'app/Bootstrap/vendors/jqvmap/dist/jqvmap.min.css' %}" rel="stylesheet"/>
    <!-- bootstrap-daterangepicker -->
    <link href="{% static 'app/Bootstrap/vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{% static 'app/Bootstrap/build/css/custom.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'app/Bootstrap/build/css/CustBranch.css' %}" />
    <!-- Calendar -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.1/fullcalendar.min.js">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.1/fullcalendar.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.1/fullcalendar.print.css">
    <link href="{% static 'app/Bootstrap/vendors/moment/min/moment-with-locales.min.js' %}" rel="stylesheet">
    <link href="{% static 'app/Bootstrap/vendors/moment/min/moment.min.js' %}" rel="stylesheet">
<!-- Style for making bounce the bell -->
{% if request.session.birthday_clients_count > 0 %}
<style>
  a.dropdown-toggle.info-number {
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
  @keyframes example {
    0%   {left:0px; top:12px;}
    100% {left:0px; top:0px;}
}
</style>
{% endif %}

    </head>

  <body class="nav-md">
      <!--<div class="alert alert-success alert-dismissible fade in" role="alert" style="    margin-bottom: 0px;">-->
      <!--  <strong>Maintenance du système excécuté avec succèes! Cette Maintenance avait pour but de preparer l'actuel version du système à la mise majeure prevue pour cette nouvelle semaine. Veuillez s.v.p notifiez de toute erreur econtrée lors de l'utilisation du système. Bonne journée!-->
      <!--</div>-->
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="{% url 'dashboard' %}" class="site_title" style="color:#ffd700;"> <span style="color:#ffd700;">NAT Global Services</span></a>
            </div>

            <div class="clearfix"></div>
            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="{% static 'app/Bootstrap/production/images/user.png' %}" alt="avatar" class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Bonjour,{{ request.session.current_branch_name }}</span>
                <a href="{% url 'get_branch_balance' %}">
                    <div>
                        Balance:
                    </div>
                    <div>
                        <i class="green"> {{ request.session.current_branch_current_balance }} {{ request.session.current_branch_currency_symbol }}</i>
                    </div>
                    </div>
                </a>:
            </div>
            <!-- /menu profile quick info -->
               <div class="row">
                      <img src="{% static 'app/Bootstrap/production/images/nat-global-logo.jpeg' %}" alt="logo" class="logo"/>
              </div>
            <br />
            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu sibebar">
              <div class="menu_section" style="color:#ffd700;">
                <h3>Services</h3>
                <ul class="nav side-menu" style="color:#ffd700;">
                  <li><a><i class="fa fa-dollar"></i>Finance <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li>
                            <a>Transfert d'argent<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu small_menu">
                                <li>
                                    <a href="{% url 'transfer_send' %}">Envoyer</a>
                                </li>
                                <li>
                                    <a href="{% url 'transfer_receive' %}">Recevoir</a>
                                </li>
                                <li>
                                    <a href="{% url 'transfer_branch_expenses' %}">Enregistrer une depense</a>
                                </li>
                                {% if request.session.current_branch_name == 'arsene' %}
                                <li>
                                    <a href="{% url 'transfer_receive' %}">Modifier</a>
                                </li>
                                {% endif %}
                            </ul>
                        </li>
                        {% if request.session.current_branch_name != 'arsene'%}
                            <li><a href="{% url 'balance_tracker' request.session.current_branch_id %}">Historique</a></li>
                        {% endif %}
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="menu_section">
                <h3>Espace Client</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-users" aria-hidden="true"></i> Gerer <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'new_client' %}">Ajouter un nouveau client</a></li>
                      <li><a href="{% url 'branch_list_of_client' %}">Clients et Historiques</a></li>
                    </ul>
                  </li>
                 </ul>
              </div>
              {% if request.session.current_branch_name == 'arsene' %}
              <div class="menu_section">
                <h3>Options administrateur</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-university" aria-hidden="true"></i> Branches <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'admin_branch' %}">Gerer</a></li>
                      <li><a href="{% url 'add_branch' %}">Creer</a></li>
                      <!-- <li><a href="{% url 'balance_tracker' %}">Traquer les balances</a></li> -->
                    </ul>
                  </li>
                  <li><a><i class="fa fa-money" aria-hidden="true"></i> Devises <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'rates' %}">Taux</a></li>
                      <li><a href="{% url 'costs' %}">Couts</a></li>
                      <li><a href="{% url 'add_currency' %}">Ajouter une monnaie</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-history" aria-hidden="true"></i> Historiques <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'history_transfer' %}">Transactions par branche</a></li>
                      <li><a href="{% url 'transactions_from_origin' %}">Transactions depuis origine</a></li>
                    </ul>
                  </li>
                 </ul>
              </div>
              {% endif %}
            </div>
            <!-- /sidebar menu -->
              <!-- Search -->
              <section class="box search">
                  {% csrf_token %}
                  <form method="post" action="#">
                      <input type="text" class="text" name="search" placeholder="recherchez" />
                  </form>
              </section>

<div id='calendar'></div>


            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
                <a data-toggle="tooltip" data-placement="top" title="Parametres">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </a>
              <a data-toggle="tooltip" data-placement="top" title="Plein ecran">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Message">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Se deconnecter!" href="{% url 'logout' %}">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars" style="color:#ffd700;"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="{% static 'app/Bootstrap/images/user.png' %}" alt="">
                    <span style="color:#ffd700;">{{ request.session.current_branch_name }}</span>
                    <span class="fa fa-angle-down" style="color:#ffd700;"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out pull-right"></i>Se deconnecter</a></li>
                  </ul>
                </li>
                <li role="presentation" class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-gift" style="font-size:25px;color:#ffd700;"></i>
                      {% if request.session.birthday_clients_count > 0 %} <span class="badge bg-green">{{ request.session.birthday_clients_count }}</span></blink> {% endif %}
                    </a>
                    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                      {% if request.session.birthday_clients_count == 0 %}
                      <li>
                      <div class="text-center">
                            <strong>Pas d'anniverssaire à célébrer</strong>
                            <i class="fa fa-frown-o"></i>
                        </div>
                      </li>
                      {% else %}
                      {% for id,names,delay,tileColor,value in request.session.birthday_clients %}
                      <li>
                        <a href="{% url 'client_details' id %}" target="_blank" style="color:#eaedf1; background-color: {{ tileColor }};">
                          <span class="image"><img src="{% static 'app/Bootstrap/production/images/user.png' %}" alt="Profile Image"></span>
                          <span>
                            <span>{{ names }}</span>
                            <span class="time">{% if delay == 0 %} Aujourd'hui {% else %} JJ{{ delay }} {% endif %}</span>
                          </span>
                          <span class="message">
                            Valeur du client : {{ value }} {{ request.session.current_branch_currency_symbol }}
                          </span>
                        </a>
                      </li>
                      {% endfor %}
                      {% endif %}
                    </ul>
                  </li>
                 <li>
                     <a href='http://olfredos6.pythonanywhere.com/br_login'>
                        <button type="button" class="btn btn-dark">Tester la nouvelle version du systeme</button>
                    </a>
                 </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>{% block ContentMainTitle %}{% endblock %}</h3>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>{% block ContentSecondTitle %}{% endblock %}</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
        <!-- /page content -->

        <!-- page content -->
        {% block content %}

        {% endblock %}

                          </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
      </div>
      <!-- footer content -->
        <footer>
          <div class="pull-right">
            <p>
               copyright &copy;; 2017 Developed by <a href="https://www.linkedin.com/in/n%C3%A9h%C3%A9mie-balukidi-a1b57183/" data-toggle="tooltip" title="Software Engineer" style="color: grey">NN. Balukidi</a><!-- & <a href="#" data-toggle="tooltip" title="Front Designer" style="color: grey">FA ILunga</a> -->. Tous droits réservés.
        </p>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
    </div>

    <!-- jQuery -->
    <script src="{% static 'app/Bootstrap/vendors/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'app/Bootstrap/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'app/Bootstrap/vendors/fastclick/lib/fastclick.js' %}"></script>
    <!-- NProgress -->
    <script src="{% static 'app/Bootstrap/vendors/nprogress/nprogress.js' %}"></script>
    <!-- jQuery Smart Wizard -->
    <script src="{% static 'app/Bootstrap/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js' %}"></script>
    <!-- Chart.js -->
    <script src="{% static 'app/Bootstrap/vendors/Chart.js/dist/Chart.min.js' %}"></script>
    <!-- gauge.js -->
    <script src="{% static 'app/Bootstrap/vendors/gauge.js/dist/gauge.min.js' %}"></script>
    <!-- bootstrap-progressbar -->
    <script src="{% static 'app/Bootstrap/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
    <!-- iCheck -->
    <script src="{% static 'app/Bootstrap/vendors/iCheck/icheck.min.js' %}"></script>
    <!-- Skycons -->
    <script src="{% static 'app/Bootstrap/vendors/skycons/skycons.js' %}"></script>
    <!-- Flot -->
    <script src="{% static 'app/Bootstrap/vendors/Flot/jquery.flot.js' %}"></script>
    <script src="{% static 'app/Bootstrap/vendors/Flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'app/Bootstrap/vendors/Flot/jquery.flot.time.js' %}"></script>
    <script src="{% static 'app/Bootstrap/vendors/Flot/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'app/Bootstrap/vendors/Flot/jquery.flot.resize.js' %}"></script>
    <!-- Flot plugins -->
    <script src="{% static 'app/Bootstrap/vendors/flot.orderbars/js/jquery.flot.orderBars.js' %}"></script>
    <script src="{% static 'app/Bootstrap/vendors/flot-spline/js/jquery.flot.spline.min.js' %}"></script>
    <script src="{% static 'app/Bootstrap/vendors/flot.curvedlines/curvedLines.js' %}"></script>
    <!-- DateJS -->
    <script src="{% static 'app/Bootstrap/vendors/DateJS/build/date.js' %}"></script>
    <!-- JQVMap -->
    <script src="{% static 'app/Bootstrap/vendors/jqvmap/dist/jquery.vmap.js' %}"></script>
    <script src="{% static 'app/Bootstrap/vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
    <script src="{% static 'app/Bootstrap/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{% static 'app/Bootstrap/vendors/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'app/Bootstrap/vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{% static 'app/Bootstrap/build/js/custom.min.js' %}"></script>
  </body>
</html>
