﻿{% extends 'app/Branch/layout.html' %}


{% block pageTitle %}NAT| Enregistrer un client{% endblock %}

{% block content %}
{% if registration_status == True %}
<div class="alert alert-success alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    Le client <strong><a>{{ new_client.names }} {{ new_client.surname }}</a></strong> a ete enregistrez correctement!
                  </div>
{% endif %}
{% if registration_status == False %}
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    <strong>Une erreur a eu lieu et le client n'a pas pu etre enregistrez. veuillez reessayer</strong>
                  </div>
{% endif %}
{% if registration_status == 'exists' %}
      <div class="alert alert-warning alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
            </button>
            Le client <strong><a>{{ new_client.names }} {{ new_client.surname }}</a></strong> existe deja!
     </div>
 {% endif %}
                  <div class="x_title">
                    <h2>Enregistrer un nouveau Client</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <form method="post" class="form-horizontal form-label-left" novalidate>
                        {% csrf_token %}
                      <span class="section"> Info Personnelle</span>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="surname">Nom <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input name="surname" type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Nom de famille">
                          <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="surname">Prenom et Postnom <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input name="names" type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Prenom et Postnom">
                          <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input name="Email" type="text" class="form-control has-feedback-left" id="inputSuccess4" placeholder="Email">
                          <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone">Numero <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="number" name="contactNumber" class="form-control has-feedback-left" id="inputSuccess5" placeholder="Numero, e.g '00241123456789'" maxlength="2">
                          <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Branch">Branche <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select name="Branch" class="form-control">
                            <option>Choisir une branche</option>
                            {% for branch in list_of_branches %}
                            <option>{{ branch.name }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                        <span class="section"> Details bancaire</span>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="surname">Nom de la banque
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input name="bank_name" type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Nom de la banque">
                          <span class="fa fa-bank form-control-feedback left" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="surname">Numero de compte
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input name="bank_account_number" type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Numero de compte">
                          <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        </br>
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                          <a href="{% url 'cancel_transaction' %}"><button class="btn btn-primary">Annuler</button></a>
                          <button id="send" type="submit" class="btn btn-success">Soumettre</button>
                        </div>
                      </div>
                    </form>
                  </div>
        <!-- /page content -->
{% endblock %}