{% extends 'app/Branch/layout.html' %}


{% block pageTitle %}NAT| Transfer : Envoyer{% endblock %}


{% block content %}
<!-- page content -->

        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Transfert d'argent</h3>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Envoyer</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

{% if isClient is None or False %}
                    <!-- Verify Client -->

                    <p><i class="purple"><i class="fa fa-info-circle"></i></i> Entrez le numero de contact du client pour verification. Sinon, <a href="{% url 'new_client' %}">enregistrez-le</a>.</p>
                    <p><i class="purple"><i class="fa fa-info-circle"></i></i> N'oubliez donc pas le code du pays. (exemple: 0027 pour un numero de l'afrique du sud) </p>
                    <form class="form-horizontal form-label-left"  method='post'>
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ clientFormVerification.as_ul }}
                                <button id="send" type="submit" class="btn btn-success">Verifier</button>
                            </div>
                    {% if isClient is False %}
                         <p><i class="purple"><i class="fa-exclamation-triangle red"></i></i> N'oubliez donc pas le code du pays. (exemple: 0027 pour un numero de l'afrique du sud) </p>
                    {% endif %}
                        </div>
                    </form>


                    <!-- End Verify Cient -->
{% endif %}
{% if isClient is True %}
We can send money now
{% endif %}
isClient value : {{ currentBranch.name }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
{% endblock %}