{% extends 'app/public/layout.html' %}
{% load staticfiles  %}


{% block title %}
NATGS|Finance
{% endblock %}

{% block content %}
	<aside id="fh5co-hero" class="js-fullheight">
		<div class="flexslider js-fullheight">
			<ul class="slides">
		   	<li style="background-image: url({% static 'app/flew/images/transfer5.jpg' %});">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<h2>NAT GS FINANCE</h2>
		   					<p class="fh5co-lead" style="color: #000000;text-shadow: 2px 2px #fdd94f;">
		   					    ...
		   					    </p>
		   					<!--<p class="fh5co-lead">Designed with <i class="icon-heart"></i> by the fine folks at <a href="http://freehtml5.co" target="_blank">FreeHTML5.co</a></p>-->
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		  	</ul>
	  	</div>
	</aside>
	<div id="fh5co-services-section">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
						<h2>Nos Caractéristiques Impressionnantes</h2>
						<p>Beaucoup font ce que nous faisons, mais pas comme nous le faisons. </p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 animate-box">
						<div class="services">
							<i class="icon-car"></i>
							<div class="desc">
								<h3>Déplacement vers le Client Emetteur et Payement à  Domicile</h3>
								<p>Pour des clients qui sont de Libreville, rencontrant un emepechement et se trouvant dans l'incapacite de se
								deplacer vers l'Agence NAT Financepour effectuer un transfert, NAT Fincance met a leur disposition un agent de terrain se deplacant vers eux.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 animate-box">
						<div class="services">
							<i class="icon-line-chart"></i>
							<div class="desc">
								<h3>Taux d'Interets 6,5%</h3>
								<p>Dans le soucis d'offrir des meilleurs avantages à  nos clients, NAT GLOBAL SERVICES présente un taux d'intérêt défiant toute concurrence dans le domaine de transfert d'argent en Afrique du Sud qui est de 6,5%.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 animate-box">
						<div class="services">
							<i class="icon-money"></i>
							<div class="desc">
								<h3>Avance à  Nos Clients</h3>
								<p>Au regard du retard de reception d'argent de certains de nos clients fideles, ces deniers se trouvant dans l'incapacite de payer leur loyer et subvenir aux diffrentes charges dont ils ont la responsabilité. Dans cette optique, NAT Global Services
									octroi des avances remboursables.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<div id="fh5co-blog-section" class="fh5co-light-grey-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
					<h2>Nos Services Financiers</h2>
					<p>NAT GLOBAL FINANCE est une branche qui opère dans la gestion des opérations financières à savoir: </p>
				</div>
			</div>
			<div class="row">
			    <div class="col-md-12 text-center animate-box">
				<div class="col-md-6 col-sm-6 animate-box">
					<a href="{% url 'quotation' 'transfer' %}" class="item-grid" style="background-image:linear-gradient(rgba(52, 2, 74, 0.7),rgba(52, 2, 74, 0.7)), url({% static 'app/resources/css/imgs/background-header.jpg' %});background-size: cover;background-position:center;background-attachment:fixed;">
						<div class="v-align">
							<div class="v-align-middle">
								<center><h3 class="title" style="color: #ffee00;">Transfert d'Argent</h3></center>
								<p style="color: #fffffff7;">Ravitailler vos parents(Étudiants ou Touristes) ou faites de payements à distance ente nos différentes villes en profitants
									des meilleurs coûts aux services disponibles sur le marché. </p>
							</div>
						</div>
					</a>
				</div>
                <div class="col-md-6 col-sm-6 animate-box">
					<a href="{% url 'quotation' 'exchange' %}" class="item-grid" style="background-image:linear-gradient(rgba(52, 2, 74, 0.7),rgba(52, 2, 74, 0.7)), url({% static 'app/resources/css/imgs/background-header.jpg' %});background-size: cover;background-position:center;background-attachment:fixed;">
						<div class="v-align">
							<div class="v-align-middle">
								<center><h3 class="title" style="color: #ffee00;">Achats des Dévises</h3></center>
								<p style="color: #fffffff7;">Echange des dévises entre le Rand sudafricain, le CFA, l'Euro ainsi qu le Dollar Américain aux taux abordables et courant. Cliquez pour un dévis.</p>
							</div>
						</div>
					</a>
				</div>
				</div>
				<div class="col-md-12 text-center animate-box">
				<div class="col-md-6 col-sm-6 animate-box">
					<a href="{% url 'quotation' 'banking' %}" class="item-grid" style="background-image:linear-gradient(rgba(52, 2, 74, 0.7),rgba(52, 2, 74, 0.7)), url({% static 'app/resources/css/imgs/background-header.jpg' %});background-size: cover;background-position:center;background-attachment:fixed;">
						<div class="v-align">
							<div class="v-align-middle">
								<center><h3 class="title" style="color: #ffee00;">Gestion d'Epargne</h3></center>
								<p style="color: #fffffff7;">NAT Global Finances vous aide à la gestion de votre argent avec nos servces de comptes type Courant et Epargne ou encore en option d'Investissment. Cliquez pour plus de details</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-6 col-sm-6 animate-box">
					<a href="{% url 'quotation' 'credit' %}" class="item-grid">
						<div class="v-align" style="background-image:linear-gradient(rgba(52, 2, 74, 0.7),rgba(52, 2, 74, 0.7)), url({% static 'app/resources/css/imgs/background-header.jpg' %});background-size: cover;background-position:center;background-attachment:fixed;">
							<div class="v-align-middle">
								<center><h3 class="title" style="color: #ffee00;">Crédit</h3></center>
								<p style="color: #fffffff7;">Besoin de crédit pour un project préssant?NAT vous l'offre avec encore des un taux d'intérêts vous bénéficiants. Veuillez cliquez pour plus de détails</p>
							</div>
						</div>
					</a>
				</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
