{% extends 'app/public/layout.html' %}
{% load staticfiles  %}
{% block title %}
NATGS| Import&Export
{% endblock %}

{% block content %}
	<aside id="fh5co-hero" class="js-fullheight">
		<div class="flexslider js-fullheight">
			<ul class="slides">

		   	<li style="background-image: url({% static 'app/flew/images/Import_Export/Fret Aérien_Fret Maritime.jpg' %});">
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<h2 style="color: #fdd94f;text-shadow: 2px 2px #000000;">le courrier express </h2>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url({% static 'app/flew/images/Import_Export/Fret Aérien.jpg' %});">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<h2 style="color: #fdd94f;text-shadow: 2px 2px #000000;">Fret Aérien</h2>
		   					<p><a href="#air-freight" class="btn btn-primary btn-lg">En savoir plus</a></p>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url({% static 'app/flew/images/Import_Export/Sea freight.jpg' %});">
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<h2 style="color: #fdd94f;text-shadow: 2px 2px #000000;">Fret Maritime </h2>
		   					<p><a href="#sea-freight" class="btn btn-primary btn-lg">En savoir plus</a></p>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		  	</ul>
	  	</div>
	</aside>
	<div id="fh5co-services-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
					<h2>Avec le service Courrier Express de NAT Global Services,</h2>
					<p>vous avez la possibilité de faire circuler aisément vos différents colis entre l’Afrique du Sud et le Gabon et aussi d’importer ou d’exporter des produits agro-alimentaire de tout genre des prix défiants toute concurrence! </p>
				</div>
			</div>
		</div>
	</div>

    <div id="air-freight" class="fh5co-cta" style="background-image: url({% static 'app/flew/images/Import_Export/air-freight-div.jpg' %});">
		<div class="overlay"></div>
		<div class="container">
				<center><h3>Fret Aérien </h3>
			<div class="col-md-12 text-center animate-box">
				<p>Envoyez et recevez en seulement quelques jours vos documents, effets personnels et colis divers entre l’Afrique du Sud et le Gabon à des couts exceptionnels. Nous vous garantissons la sécurité de tous vos effets à l’envoi aussi bien qu’a la réception</p>
			</div>
		</div>
	</div>
	<div id="sea-freight" class="fh5co-cta" style="background-image: url({% static 'app/flew/images/Import_Export/Sea-freight-div.jpg' %});">
		<div class="overlay"></div>
		<div class="container">
				<center><h3>Fret Maritime</h3>
			<div class="col-md-12 text-center animate-box">
				<p>Avec NAT Global Services, acheminer toutes vos marchandises, effets personnels, produits électroménagers, matériels de bureau et de construction, et colis de tout genre de l’Afrique du Sud vers le Gabon et du Gabon vers l’Afrique du Sud</p>
			</div>
		</div>
	</div>
{% endblock %}
