{% load staticfiles  %}



<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% block title %}NATGS|Bienvenue{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="Finance, Import, export, transfer d'argent, Tourisme, achats devises, change" />
	<meta name="author" content="BALUKIDI NEHEMIE" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="{% static 'app/flew/favicon.ico' %}">

	<link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,700" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'app/flew/css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'app/flew/css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'app/flew/css/bootstrap.css' %}">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="{% static 'app/flew/css/flexslider.css' %}">
	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{% static 'app/flew/css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'app/flew/css/owl.theme.default.min.css' %}">
	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'app/flew/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'app/flew/css/custom.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static 'app/flew/js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
    <style>
        h1, h2, h3, h4, h5, h6, figure {
        color: #461a5f;
        font-family: "Raleway", Arial, sans-serif;
        font-weight: 400;
        margin: 0 0 30px 0;
        }
		</style>
		<!-- Start WOWSlider.com HEAD section -->
		<link rel="stylesheet" type="text/css" href="{% static 'app/newWide/engine1/style.css' %}" />
		<script type="text/javascript" src="{% static 'app/newWide/engine1/jquery.js' %}"></script>
		<!-- End WOWSlider.com HEAD section -->
	</head>
	<body>
	<div id="fh5co-page" class="sticky">
	<header id="fh5co-header" role="banner">
		<div class="container">
			<div class="header-inner">
			    <a href="{% url 'home' %}">
							<img src="{% static 'app/resources/images/nat-global-logo.jpeg' %}" alt="nat logo" class="logo"/>
		</a>
				<nav role="navigation">
					<ul><li><a href="#fh5co-footer">A PROPOS</a></li>
					    <li><a href="{% url 'get_import_export' %}">IMPORT/EXPORT</a></li>
						<li><a href="{% url 'get_finance' %}">FINANCE</a></li>
						<li><a href="{% url 'get_tourism' %}">TOURISME</a></li>
						<li class="cta"><a href="{% url 'quotation' 'none' %}">Obtenir un devis</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
    {% block content %}
	<div class="container">

	</div>
	<aside id="fh5co-hero" class="js-fullheight">
		<div class="flexslider js-fullheight">
			<ul class="slides">
					<li style="background-image: url({% static 'app/flew/images/branches_teams.JPG' %});">
						<div class="overlay-gradient"></div>
						<div class="container">
							<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
								<div class="slider-text-inner">
									<h2 style="color: #fdd94f;text-shadow: 2px 2px #000000;">NAT Global Services</h2>
									<p><a href="#fh5co-services-section" class="btn btn-primary btn-lg">En savoir plus</a></p>
								</div>
							</div>
						</div>
					</li>
		   	<li style="background-image: url({% static 'app/flew/images/transfer5.jpg' %});">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<h2 style="color: #fdd94f;text-shadow: 2px 2px #000000;">Transfert et Prêt d'argent ainsi qu'Investissement</h2>
		   					<p><a href="{% url 'get_finance' %}" class="btn btn-primary btn-lg">En savoir plus</a></p>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url({% static 'app/flew/images/imp_exp.jpg' %});">
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<h2 style="color: #fdd94f;text-shadow: 2px 2px #000000;">Import/Export avec un Courrier Express aux prix défiants toute concurrence</h2>
		   					<p><a href="{% url 'get_import_export' %}" class="btn btn-primary btn-lg">En savoir plus</a></p>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url({% static 'app/flew/images/tourism.jpg' %});">
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<h2 style="color: #fdd94f;text-shadow: 2px 2px #000000;">Gestion Touristique </h2>
		   					<p><a href="{% url 'get_tourism' %}" class="btn btn-primary btn-lg">En savoir plus</a></p>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		  	</ul>
	  	</div>
	</aside>
	<div id="fh5co-services-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
					<h2>NAT Global Services en bref,</h2>
					<p>Basé en Afrique du Sud, NAT GLOBAL SERVICES est une compagnie internationale qui rend possible les échanges d'ordre divers entre les différents pays et sous-régions
						du continent Africain. Elle est la réalisation d'une jeunesse africaine passionnée, motivée et travailleuse. </p>
				</div>
			</div>
			<div class="row fh5co-services">
					<div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box fadeInUp animated">
							<h2>Nos Domaines</h2>
						</div>
					<div class="col-md-4 text-center item-block animate-box fadeInUp animated">
						<p><a href="{% url 'get_finance' %}" class="btn btn-primary btn-outline with-arrow">Gestion financière <i class="icon-arrow-right"></i></a></p>
					</div>
					<div class="col-md-4 text-center item-block animate-box fadeInUp animated">
						<p><a href="{% url 'get_tourism' %}" class="btn btn-primary btn-outline with-arrow">Gestion Touristique <i class="icon-arrow-right"></i></a></p>
					</div>
					<div class="col-md-4 text-center item-block animate-box fadeInUp animated">
						<p><a href="{% url 'get_import_export' %}" class="btn btn-primary btn-outline with-arrow">Import-Export <i class="icon-arrow-right"></i></a></p>
					</div>
				</div>
			<div class="row">
				<div class="col-md-4 animate-box">
					<div class="services">
						<i class="icon-thumbs-up"></i>
						<div class="desc">
							<h3>Qualité du Service</h3>
							<p>Nous offrons chaque jour à nos client un service de qualité basé sur la maximisation de nos ressources disponibles</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 animate-box">
						<div class="services">
							<i class="icon-heart-o"></i>
							<div class="desc">
								<h3>Passions</h3>
								<p>Nous sommes passionnés par:
									<ul>
										<li>le service rendu,</li>
										<li>La satisfaction de nos clients,</li>
										<li>les nouveaux défis à relever au quotidien,</li>
									</ul>
								Simplement dit, nous sommes passionnés par la réussite de notre entreprise qui passe par la satisfaction de nos clients.
								</p>
							</div>
						</div>
					</div>
				<div class="col-md-4 animate-box">
					<div class="services">
						<i class="icon-group"></i>
						<div class="desc">
							<h3>Unité</h3>
							<p>Nous sommes une compagnie, une équipe. Nous travaillons ensemble pour produire le bien-être de nos clients</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="fh5co-work-section" class="fh5co-light-grey-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
					<h2>Notre Courverture, Nos Branches</h2>
					<p>Aujourd'hui, NAT Global Services dispose des branches active dans les villes suivantes: </p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 animate-box">
					<a href="#" class="item-grid text-center" href="#modal_addr_jhb" data-toggle="modal" data-target="#modal_addr_jhb">
						<div class="image" style="background-image: url({% static 'app/resources/images/joburg.jpg' %})"></div>
						<div class="v-align">
							<div class="v-align-middle">
								<h3 class="title">Johnnesburg</h3>
								<h5 class="category">Afrique du Sud</h5>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-4 animate-box">
					<a href="#" class="item-grid text-center" href="#modal_addr_vaal" data-toggle="modal" data-target="#modal_addr_vaal">
						<div class="image" style="background-image: url({% static 'app/resources/images/vaal.jpg' %})"></div>
						<div class="v-align">
							<div class="v-align-middle">
								<h3 class="title">Vanderbijlpark</h3>
								<h5 class="category">Afrique du Sud</h5>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-4 animate-box">
					<a href="#" class="item-grid text-center" href="#modal_addr_pta" data-toggle="modal" data-target="#modal_addr_pta">
						<div class="image" style="background-image: url({% static 'app/resources/images/pretoria.jpg' %})"></div>
						<div class="v-align">
							<div class="v-align-middle">
								<h3 class="title">Pretoria</h3>
								<h5 class="category">Afrique du Sud</h5>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-4 animate-box">
					<a href="#" class="item-grid text-center" href="#modal_addr_lbv" data-toggle="modal" data-target="#modal_addr_lbv">
						<div class="image" style="background-image: url({% static 'app/resources/images/libreville.png' %})"></div>
						<div class="v-align">
							<div class="v-align-middle">
								<h3 class="title">Libreville</h3>
								<h5 class="category">Gabon</h5>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-4 animate-box">
					<a href="#" class="item-grid text-center" href="#modal_addr_cpt" data-toggle="modal" data-target="#modal_addr_cpt">
						<div class="image" style="background-image: url({% static 'app/resources/images/capetown.jpg' %})"></div>
						<div class="v-align">
							<div class="v-align-middle">
								<h3 class="title">Capetown</h3>
								<h5 class="category">Afrique du Sud</h5>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-4 animate-box">
					<a href="#" class="item-grid text-center" href="#modal_addr_pog" data-toggle="modal" data-target="#modal_addr_pog">
						<div class="image" style="background-image: url({% static 'app/resources/images/port.jpg' %})"></div>
						<div class="v-align">
							<div class="v-align-middle">
								<h3 class="title">Port Gentil</h3>
								<h5 class="category">Gabon</h5>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

    {% endblock %}

    <!-- About modal -->
    <div id="modal_about" class="modal fade" role="dialog" data-backdrop="false" style="padding-top: 15%;">
      <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">A Propos de NAT Global Services</h4>
          </div>
          <div class="modal-body">
            	<div class="col-md-4">
            	    <center>
            	        <img src="{% static 'app/resources/images/nat-global-logo.jpeg' %}" style='height: 150px; width: 150px; object-fit: contain'>
            	   </center>
					<ul class="contact-info">
						<li><i class=""></i>NAT GLOBAL SERVICES(Pty) Ltd.</li>
						<li><i class=""></i>Reg. No. 2017/237496/07</li>
						<li><i class="icon-globe"></i>www.natglobalservices.com</li>
						<li><i class="icon-copyright"></i>2017. Tous droits réservés</li>
					</ul>
				</div>
				<div class="col-md-6 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
					<div class="row">
						<div class="col-md-8">
							<h3>Notre Mission</h3>
							<p>La mission de NAT GS est de créer un groupe de jeunes honnêtes, dignes, dynamiques et travailleurs entrepreneurs africains qui seraient sans crainte; capable de saisir toutes opportunités les entourants dans le but de properer financià¨rement, matérielement ansi que spirituellement.</p>
						</div>
						<div class="col-md-8">
							<h3>Notre Vision</h3>
							<p>
                                NAT GS s'acharne de ce fait à  être parmis les leaders des transactions et  échanges de tout type entre différentes sous-régions du continent Africain. Dans cette optique, la compagnie s'est fixé coomme court-terme objectifs:
                                <br/>
                                <br/>
                                <i class="icon-check-square"></i> Couvrir les transactions de plus de 250 étudiants gabonais basés en Afrique du Sud avant Décembre 2017
                                <br/>
                                <i class="icon-check-square"></i> Offrir un kit tourisme complet avant Janvier 2018
                                <br/>
                                <i class="icon-square-o"></i> Mouvement d'un conteneur de marchandises et autres biens chaque deux mois entre l'Afrique du Sud et le Gabon
							</p>
						</div>
						<!--<div class="col-md-12">-->
						<!--	<div class="form-group">-->
						<!--		<textarea name="" class="form-control" id="" cols="30" rows="7" placeholder="Message"></textarea>-->
						<!--	</div>-->
						<!--</div>-->
						<!--<div class="col-md-12">-->
						<!--	<div class="form-group">-->
						<!--		<input value="Send Message" class="btn btn-primary" type="submit">-->
						<!--	</div>-->
						<!--</div>-->
					</div>
				</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
          </div>
        </div>

      </div>
    </div>

    <div id="modal_addr_jhb" class="modal fade" role="dialog" data-backdrop="false" style="padding-top: 10%;">
      <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Branche de Johannesburg</h4>
          </div>
          <div class="modal-body">
		    <p>Contact Info.</p>
					<ul class="contact-info">
						<li><i class="icon-map"></i>...</li>
						<li><i class="icon-phone"></i>+ 27 83 727 5048</li>
						<li><i class="icon-envelope"></i><a href="#">N/A</a></li>
						<li><i class="icon-globe"></i><a href="#">www.natglobalservices.com</a></li>
					</ul>
          </div>
        </div>
      </div>
    </div>

    <div id="modal_addr_vaal" class="modal fade" role="dialog" data-backdrop="false" style="padding-top: 10%;">
      <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Branche de Vanderbijlpark</h4>
          </div>
          <div class="modal-body">
		    <p>Contact Info.</p>
					<ul class="contact-info">
						<li><i class="icon-map"></i>102, President Building, Attie Fourie Street</li>
						<li><i class="icon-phone"></i>+ 27 63 870 2878</li>
						<li><i class="icon-envelope"></i><a href="#">N/A</a></li>
						<li><i class="icon-globe"></i><a href="#">www.natglobalservices.com</a></li>
					</ul>
          </div>
        </div>
      </div>
    </div>

    <div id="modal_addr_pta" class="modal fade" role="dialog" data-backdrop="false" style="padding-top: 10%;">
      <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Branche de Pretoria</h4>
          </div>
          <div class="modal-body">
		    <p>Contact Info.</p>
					<ul class="contact-info">
						<li><i class="icon-map"></i>...</li>
						<li><i class="icon-phone"></i>+ 27 65 809 14 16</li>
						<li><i class="icon-envelope"></i><a href="#">N/A</a></li>
						<li><i class="icon-globe"></i><a href="#">www.natglobalservices.com</a></li>
					</ul>
          </div>
        </div>
      </div>
    </div>

    <div id="modal_addr_lbv" class="modal fade" role="dialog" data-backdrop="false" style="padding-top: 10%;">
      <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Branche de Libreville</h4>
          </div>
          <div class="modal-body">
		    <p>Contact Info.</p>
					<ul class="contact-info">
						<li><i class="icon-map"></i>Box 19, Petit Village Artisanale(Centre ville)</li>
						<li><i class="icon-phone"></i>+ 241 02 50 03 52</li>
						<li><i class="icon-envelope"></i><a href="#">N/A</a></li>
						<li><i class="icon-globe"></i><a href="#">www.natglobalservices.com</a></li>
					</ul>
          </div>
        </div>
      </div>
    </div>

    <div id="modal_addr_cpt" class="modal fade" role="dialog" data-backdrop="false" style="padding-top: 10%;">
      <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Branche de Capetown</h4>
          </div>
          <div class="modal-body">
		    <p>Contact Info.</p>
					<ul class="contact-info">
						<li><i class="icon-map"></i>...</li>
						<li><i class="icon-phone"></i>+ 27 78 963 17 58</li>
						<li><i class="icon-envelope"></i><a href="#">N/A</a></li>
						<li><i class="icon-globe"></i><a href="#">www.natglobalservices.com</a></li>
					</ul>
          </div>
        </div>
      </div>
    </div>

    <div id="modal_addr_pog" class="modal fade" role="dialog" data-backdrop="false" style="padding-top: 10%;">
      <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Branche de Port Gentil</h4>
          </div>
          <div class="modal-body">
		    <p>Contact Info.</p>
					<ul class="contact-info">
						<li><i class="icon-map"></i>Omboue Central</li>
						<li><i class="icon-phone"></i>+ 241 02 51 05 54</li>
						<li><i class="icon-envelope"></i><a href="#">N/A</a></li>
						<li><i class="icon-globe"></i><a href="#">www.natglobalservices.com</a></li>
					</ul>
          </div>
        </div>
      </div>
    </div>
	<footer id="fh5co-footer" role="contentinfo" style="background-image:linear-gradient(rgba(52, 2, 74, 0.7),rgba(52, 2, 74, 0.7)), url({% static 'app/resources/css/imgs/background-header.jpg' %});background-size: cover;background-position:center;background-attachment:fixed;">

		<div class="container" >
			<div class="col-md-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
				<h3>A propos de NAT</h3>
				<p>Nat Global Services est une compagnie sud-africaine à  fond divers. Avec un présence grandissante, Nat Global Services opere dans differents secteurs dont la gestion des étudiants, l'import/export, ainsi que le tourisme.</p>
				<p><a class="btn btn-primary btn-outline with-arrow btn-sm" href="#modal_about" data-toggle="modal" data-target="#modal_about">Plus de details... <i class="icon-arrow-right"></i></a></p>
			</div>
			<div class="col-md-6 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
				<h3>Nos Services</h3>
				<ul class="float">
				    <li><a href="{% url 'get_finance' %}#fh5co-blog-section">Transfert d'argent</a></li>
					<li><a href="#">Cosmetiques</a></li>
                    <li><a href="#">Agro-alimentaire </a></li>
					<li><a href="{% url 'get_finance' %}#fh5co-blog-section">Compte courant</a></li>
                    <li><a href="{% url 'get_finance' %}#fh5co-blog-section">Compte epargne</a></li>
                    <li><a href="{% url 'get_finance' %}#fh5co-blog-section">Investir</a></li>
				</ul>
				<ul class="float">
				    <li><a href="{% url 'get_tourism' %}#fh5co-pricing-section">Herbergement</a></li>
                    <li><a href="{% url 'get_tourism' %}#fh5co-pricing-section">Transport</a></li>
                    <li><a href="{% url 'get_tourism' %}#fh5co-pricing-section">Guide touristique</a></li>
                    <li><a href="#">Evacuation sanitaire</a></li>
				    <li><a href="{% url 'get_tourism' %}#academy">Gestion d'etudiants a l'etranger</a></li>
                    <li><a href="{% url 'get_tourism' %}#academy">Aide a l'obtention du visa </a></li>
				</ul>

			</div>

			<div class="col-md-2 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
				<h3>Nous Suivre</h3>
				<ul class="fh5co-social">
					<li><a><i class="icon-twitter"></i> twitter</a></li>
					<li><a href="https://www.facebook.com/NATGlobalFinance/" target="_blank" ><i class="icon-facebook"></i> facebook</a></li>
					<li><a><i class="icon-google-plus"></i> google+</a></li>
					<li><a><i class="icon-instagram"></i> instagram</a></li>
				</ul>
			</div>


			<div class="col-md-12 fh5co-copyright text-center">
				<p>
				    Afrique Du Sud &copy; 2017 NAT Global Services. Tous droits réservés..
				    <span>
				        par <a href="https://www.linkedin.com/in/n%C3%A9h%C3%A9mie-balukidi-a1b57183/" data-toggle="tooltip" title="Software Engineer(Full Stack)"n style="color: grey">NN. Balukidi</a>
				    </span>
				</p>
			</div>

		</div>
	</footer>
	</div>


	<!-- jQuery -->
	<script src="{% static 'app/flew/js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'app/flew/js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'app/flew/js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'app/flew/js/jquery.waypoints.min.js' %}"></script>
	<!-- Owl Carousel -->
	<script src="{% static 'app/flew/js/owl.carousel.min.js' %}"></script>
	<!-- Flexslider -->
	<script src="{% static 'app/flew/js/jquery.flexslider-min.js' %}"></script>
	<!-- printElement -->
	<script src="{% static 'app/flew/js/jQuery.printElement.js' %}"></script>

	<!-- MAIN JS -->
	<script src="{% static 'app/flew/js/main.js' %}"></script>

	</body>
</html>
