{% extends 'app/public/layout.html' %}
{% load staticfiles  %}


{% block title %}
NATGS| Bienvenue
{% endblock %}

{% block header-text %}
    <div class="header-text">
             <h1> bienvenu,<br/> sur nat global service.</h1>
             <a class="bton bton-full js--scroll-to-plans" href="#">Decouvrir NAT</a>
             <a class="bton bton-ghost js--scroll-to-start" href="#">je suis intéressé</a>
            <div> <img src="{% static 'app/resources/css/imgs/giphy.gif' %}" /></div>
         </div>
{% endblock %}

{% block content %}
    <section class="features js--section-features">
            <div class="row">
                <img src="{% static 'app/resources/images/nat-global-logo.jpeg' %}" alt="nat logo" class="logo"/>
                <h2>Un bon service est source d'une bonne affaire</h2>
                <p class="long-copy">
                    Nous sommes NAT global service,votre entreprise de confiance.Notre mission est de garantir la sécurité de votre argent, de vos produits et de l'avenir de vos enfants.
                 </p>
            </div>

            <div class="row animated fadeIn">
                <div class="col span-1-of-4 box">
                    <i class="ion-calendar icon-big "></i>
                    <h3>312 jours/An</h3>
                    <p>La qualité est notre priorité. Profitez d'un service de haute qualité sur une couverture de 312 jours par an. </p>
                </div>
                <div class="col span-1-of-4 box">
                    <i class="ion-person-stalker icon-big"></i>
                    <h3>le client est roi</h3>
                    <p>Vos problèmes sont nos problèmes. Nous vous assurons de faire du service national votre maison.</p>
                </div>
                <div class="col span-1-of-4 box">
                    <i class="ion-wifi icon-big"></i>
                    <h3>100% accessible</h3>
                    <p> Pas besoin de bouger. Acceder a nos services où que vous soyez car nous nous preocupons aussi de votre bien etre.</p>
                </div>
                <div class="col span-1-of-4 box">
                    <i class="ion-home icon-big"></i>
                    <h3>vos produits</h3>
                    <p>notre soucis est de vous rendre accro a nous.recevez vos produits chez vous.</p>
                </div>
                </div>
    </section>
    <section class="section-city  clearfix">

        <div class="row">
            <h2>Nos villes</h2>
        </div>
        <div class="=row">
            <div class="col span-1-of-5 box">
                <img src="{% static 'app/resources/images/joburg.jpg' %}" alt="joburg" />
                <h3>johanesburg</h3>
                <div class="city-features">
                    <i class="ion-ios-person icon-small"></i>
                    500+ abonnés
                </div>
                <div class="city-features">
                    <i class="ion-home icon-small"></i>
                    joburg
                </div>
                <div class="city-features">
                    <i class="ion-social-twitter icon-small"></i>
                    <a href="#">Nat_glo</a>
                </div>
            </div>
        <div class="col span-1-of-5 box">
            <img src="{% static 'app/resources/images/vaal.jpg' %}" alt="vaal" />
            <h3>Vanderbijlpark</h3>
            <div class="city-features">
                <i class="ion-ios-person icon-small"></i>
                700+ abonnés
            </div>
            <div class="city-features">
                <i class="ion-home icon-small"></i>
                vaal
            </div>
            <div class="city-features">
                <i class="ion-social-twitter icon-small"></i>
                <a href="#">Nat_glo</a>
            </div>
        </div>
        <div class="col span-1-of-5 box">
            <img src="{% static 'app/resources/images/libreville.png' %}" alt="libreville" />
            <h3>Libreville</h3>
            <div class="city-features">
                <i class="ion-ios-person icon-small"></i>
                1000+ abonnés
            </div>
            <div class="city-features">
                <i class="ion-home icon-small"></i>
                     Gabon meca
            </div>
            <div class="city-features">
                <i class="ion-social-twitter icon-small"></i>
                <a href="#">Nat_glo</a>
            </div>
        </div>
        <div class="col span-1-of-5 box">
            <img src="{% static 'app/resources/images/port.jpg' %}" alt="port" />
            <h3>Port-gentil</h3>
            <div class="city-features">
                <i class="ion-ios-person icon-small"></i>
                1200+ abonnés
            </div>
            <div class="city-features">
                <i class="ion-home icon-small"></i>
                Omboue Central
            </div>
            <div class="city-features">
                <i class="ion-social-twitter icon-small"></i>
                <a href="#">Nat_glo</a>
            </div>
        </div>
        <div class="col span-1-of-5 box">
            <img src="{% static 'app/resources/images/moanda.jpg' %}" alt="moanda" id="moanda"/>
            <h3>Moanda</h3>
            <div class="city-features">
                <i class="ion-ios-person icon-small"></i>
                50+ abonnés
            </div>
            <div class="city-features">
                <i class="ion-home icon-small"></i>
                moanda
            </div>
            <div class="city-features">
                <i class="ion-social-twitter icon-small"></i>
                <a href="#">Nat_glo</a>
            </div>
        </div>
        </div>
    </section>
    <section class="section-form">
            <div class="row">
                <h2>
                    Nous somme heureux de vous lire
                </h2>
            </div>
            <div class="row">
                <form method="post" class="contact-form">
                    {% csrf_token %}
                    {{ feedbackForm.non_field_errors }}
                    {% if request.session.displayFeedbackFormMessage %}
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endif %}
                    <div class="row">
                        {{ feedbackForm.name.errors }}
                        <div class="col span-1-of-3">
                            {{ feedbackForm.name.label_tag }}
                        </div>
                        <div class="col span-2-of-3">
                            {{ feedbackForm.name }}
                        </div>
                    </div>
                    <div class="row">
                        {{ feedbackForm.email.errors }}
                        <div class="col span-1-of-3">
                            {{ feedbackForm.email.label_tag }}
                        </div>
                        <div class="col span-2-of-3">
                            {{ feedbackForm.email }}
                        </div>
                    </div>
                    <div class="row">
                        {{ feedbackForm.suscribedToNewsLetter.errors }}
                        <div class="col span-1-of-3">
                            {{ feedbackForm.suscribedToNewsLetter.label_tag }}
                        </div>
                        <div class="col span-2-of-3">
                            {{ feedbackForm.suscribedToNewsLetter }}
                        </div>
                    </div>
                    <div class="row">
                        {{ feedbackForm.message.errors }}
                        <div class="col span-1-of-3">
                            {{ feedbackForm.message.label_tag }}
                        </div>
                        <div class="col span-2-of-3">
                            {{ feedbackForm.message }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label>&nbsp;</label>
                        </div>
                        <div class="col span-2-of-3">
                            <input type="submit" value="Envoyer" />
                        </div>
                    </div>
                </form>
            </div>
        </section>
{% endblock %}
