{% extends 'app/public/layout.html' %}
{% load staticfiles %}


{% block title %}
NATGS|Dévis sur nos services
{% endblock %}

{% block content %}
<script>
    var rates_dict = [];
</script>
{% for rate in rates %}
    <script>
        rates_dict["{{ rate.currency_from }}"+ "-" + "{{ rate.currency_to }}" ] = "{{ rate.value }}"
    </script>
{% endfor %}
    {% if request.session.service == 'none' %}
        <div id="fh5co-pricing-section" class="fh5co-light-grey-section" style="background-image: url({% static 'app/flew/images/quotation.jpg' %});">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
    					<h2>Choisir un Service</h2>
    					<p>Veuillez choisir le service sur lequel vous desirez avoir un dévis ou pour en éstimer le coût.</p>
    				</div>
    			</div>
    			<div class="row">
    				<div class="pricing">
    					<div class="col-md-3 animate-box">
    						<div class="price-box">
    							<h2 class="pricing-plan popular">Transfert d'Argent</h2>
    							<a href="{% url 'quotation' 'transfer' %}" class="btn btn-select-plan btn-sm">Estimer Coût</a>
    						</div>
    					</div>

    					<div class="col-md-3 animate-box">
    						<div class="price-box">
    							<h2 class="pricing-plan">Achats de Dévises</h2>
    							<a href="{% url 'quotation' 'exchange' %}" class="btn btn-select-plan btn-sm">Nos Taux</a>
    						</div>
    					</div>

    					<div class="col-md-3 animate-box">
    						<div class="price-box">
    							<h2 class="pricing-plan pricing-plan-offer">Géstion d'Epargne</h2>
    							<a href="{% url 'quotation' 'banking' %}" class="btn btn-select-plan btn-sm">Nos prix</a>
    						</div>
    					</div>

    					<div class="col-md-3 animate-box">
    						<div class="price-box">
    							<h2 class="pricing-plan">Crédit</h2>
    							<a href="{% url 'quotation' 'credit' %}" class="btn btn-select-plan btn-sm">Estimer Coût</a>
    						</div>
    					</div>
    					<div class="col-md-3 animate-box">
    						<div class="price-box">
    							<h2 class="pricing-plan">Tourisme</h2>
    							<a href="{% url 'quotation' 'torism' %}" class="btn btn-select-plan btn-sm">Estimer Coût</a>
    						</div>
    					</div>
    					<div class="col-md-3 animate-box">
    						<div class="price-box">
    							<h2 class="pricing-plan">Import/Export</h2>
    							<a href="{% url 'quotation' 'torism' %}" class="btn btn-select-plan btn-sm">Estimer Coût</a>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    {% else %}
        <div id="fh5co-services-section">
    		<div class="container">
    			<div class="row">
					{% if request.session.service == 'transfer' %}
						<form id="frmTransQuotation" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
									<div class="col-md-6 col-sm-6 animate-box">
											<div class="image" style="background-image: url(images/image_1.jpg)"></div>
											<div class="v-align">
												<div class="v-align-middle">
													<!-- <h3 class="title">We Create Mobile App</h3> -->
													
															{%csrf_token%}
																<div class="col-md-8">
																	<div class="form-group">
																		Monnaie de l'Expéditeur<select class="form-control" name="branch_from" id="branch_from" oninput="compute('sender')">
																			{% for currency in currencies %}
																				<option value="{{ currency.symbol }}" selected="">{{ currency.name }}</option>
																			{% endfor %}
																		</select>
																	</div>
																</div>
																<div class="form-group">
																	<div class="col-md-8">
																		<input class="form-control" type="number" id="amount_to_send" oninput="compute('sender')" placeholder="Montant à envoyer">
																	</div>
		
																	<div class="col-md-8">
																		<br/>
																		Coûts<input class="form-control" type="text" id="fees" oninput="compute('sender')" placeholder="Frais:" disabled>
																		<input class="form-control" type="text" id="total_cost" oninput="compute('sender')" placeholder="Total à payer:" disabled>
																	</div>
																</div>
												</div>
											</div>
									</div>
									<div class="col-md-6 col-sm-6 animate-box">
											<div class="image" style="background-image: url(images/image_2.jpg)"></div>
											<div class="v-align">
												<div class="v-align-middle">
														<div class="col-md-8">
																<div class="form-group">
																	Monnaie du Destinataire<select class="form-control" name="branch_to" id="branch_to" oninput="compute('receiver')">
																		{% for currency in currencies %}
																			<option value="{{ currency.symbol }}" selected="">{{ currency.name }}</option>
																		{% endfor %}
																	</select>
																</div>
															</div>
															<div class="form-group">
																<div class="col-md-8">
																	<input class="form-control" type="number" id="amount_to_receive" oninput="compute('receiver')" placeholder="Montant à recevoir">
																</div>	
												</div>
											</div>
									</div>
									
						</form>
				</div>
        			    <script>
                                    function compute(_direction){
                                        frm = $('#frmTransQuotation');

                                        var direction = _direction
                                        var currency_from = document.getElementById("branch_from").value
                                        var currency_to = document.getElementById("branch_to").value
                                        var amount_to_send = document.getElementById("amount_to_send").value
										var amount_to_receive = document.getElementById("amount_to_receive").value

                                        string_key = "";
                                        if(direction== "sender"){
                                            string_key = currency_from + "-" + currency_to
                                        }else{
                                            string_key = currency_to + "-" + currency_from;
                                        }

                                        rate = rates_dict[string_key];
                                        if(string_key == "XAF-ZAR"){
                                            rate = rates_dict["EUR-ZAR"]/rates_dict["EUR-XAF"]
                                        }
                                        else if(string_key == "ZAR-XAF"){
                                            rate = rates_dict["EUR-XAF"]/rates_dict["ZAR-EUR"]
                                        }

                                        if(rate == undefined){ rate = 1; }
                                        var fees = 0.0;
                                        var to_pay = 0.0;

                                        if(direction == "sender"){
                                            amount_to_receive = parseFloat(amount_to_send).toFixed(2) * parseFloat(rate).toFixed(2);
											document.getElementById("amount_to_receive").value = amount_to_receive;
                                        }else{
                                            amount_to_send = parseFloat(amount_to_receive * rate).toFixed(2);
											document.getElementById("amount_to_send").value = amount_to_send;
                                        }

                                        fees = parseFloat(((amount_to_send * 6.5) / 100)).toFixed(2) ;
                                        to_pay = parseFloat(parseFloat(amount_to_send) + parseFloat(fees)).toFixed(2);

										document.getElementById("fees").value = 'Frais: ' + fees + ' ' + currency_from
										document.getElementById("total_cost").value = 'Total à payer: ' + to_pay + ' ' + currency_from
                                    };
                                </script>
    			    {% elif request.session.service == 'exchange' %}
    			        <center><p>Produit en cours de revision</p></center>
    			    {% elif request.session.service == 'banking' %}
    			        <center><p>Produit en cours de revision</p></center>
    			    {% elif request.session.service == 'credit' %}
    			        <center><p>Produit en cours de revision</p></center>
    			    {% elif request.session.service == 'tourism' %}
    			        <center><p>Produit en cours de revision</p></center>
					{% endif %}
					<br/>
					<div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
							<p><a href="{% url 'quotation' 'none' %}" class="btn btn-primary btn-lg">Retourner aux services</a></p>
						</div>
    			</div>
    		</div>
    	</div>
    {% endif %}
{% endblock %}
