{% extends 'app/public/layout.html' %}
{% load staticfiles  %}
{% block title %}
NATGS| Tourisme
{% endblock %}

{% block content %}
<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container1">
	<div class="ws_images"><ul>
			<li><img src="{% static 'app/newWide/data1/images/holidays.jpg' %}" alt="TOURISME" title="TOURISME" id="wows1_0"/>de qualité</li>
			<li><img src="{% static 'app/newWide/data1/images/sa_holidays.jpg' %}" alt="Pour vos séjours en Afrique du Sud" title="Pour vos séjours en Afrique du Sud" id="wows1_1"/>Un accueil chaleureux<br/>
	Un transport 24/7<br/>
	Un logement meublé<br/>
	Un guide touristique et interprète<br/>
	Une sorti vers un site<br/>
	</li>
			<li><img src="{% static 'app/newWide/data1/images/business_travel.jpg' %}" alt="" title="" id="wows1_2"/>Petit dejeuner tout les matins lors de votre voyage d'affaire
	</li>
			<li><a href="http://wowslider.net"><img src="{% static 'app/newWide/data1/images/medical_visit.jpg' %}" alt="bootstrap slider" title="" id="wows1_3"/></a>Un assistant à votre service jour et nuit lors d'une visite médicale</li>
			<li><img src="{% static 'app/newWide/data1/images/honey_moon.jpg' %}" alt="" title="" id="wows1_4"/>Une séance de massage au spa pour la mariée en lune de miel</li>
		</ul></div>
		<div class="ws_bullets"><div>
			<a href="#" title="TOURISME"><span><img src="{% static 'app/newWide/data1/tooltips/holidays.jpg' %}" alt="TOURISME"/>1</span></a>
			<a href="#" title="Pour vos séjours en Afrique du Sud"><span><img src="{% static 'app/newWide/data1/tooltips/sa_holidays.jpg' %}" alt="Pour vos séjours en Afrique du Sud"/>2</span></a>
			<a href="#" title=""><span><img src="{% static 'app/newWide/data1/tooltips/business_travel.jpg' %}" alt=""/>3</span></a>
			<a href="#" title=""><span><img src="{% static 'app/newWide/data1/tooltips/medical_visit.jpg' %}" alt=""/>4</span></a>
			<a href="#" title=""><span><img src="{% static 'app/newWide/data1/tooltips/honey_moon.jpg' %}" alt=""/>5</span></a>
		</div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">wow slider</a> by WOWSlider.com v8.8</div>
	<div class="ws_shadow"></div>
	</div>	
	<script type="text/javascript" src="{% static 'app/newWide/engine1/wowslider.js' %}"></script>
	<script type="text/javascript" src="{% static 'app/newWide/engine1/script.js' %}"></script>
	<!-- End WOWSlider.com BODY section -->

<div id="academy" class="fh5co-cta" style="background-image: url({% static 'app/flew/images/nat_academy.jpg' %});">
		<div class="overlay"></div>
		<div class="container">

				<center><h3>Etudier en Afrique du Sud avec notre service Academie</h3>
				<h3>NAT Global Services vous aide avec:</h3></center>
			<div class="col-md-6 text-center animate-box">
				<ul class="float">
				    <li><p>Obtention d'une lettre d'inscription universitaire</p></li>
					<li><p>Accueil chalereux à l'aéroport</p></li>
                    <li><p>Transport</p></li>
					<li><p>Logement</p></li>
                    <li><p>Inscription à l'école de langue</p></li>
				</ul>
			</div>
			<div class="col-md-6 text-center animate-box">
				<ul class="float">
				    <li><p>Traduction des documents</p></li>
				    <li><p>Evaluation des diplomes par la SAQA</p></li>
                    <li><p>Inscription à l'université ou ou collège</p></li>
                    <li><p>Suivi jusqu'à ce que l'étudiant s'adapte</p></li>
				    <li><p>Deux sorties mensuelles vers divers sites</p></li>
				</ul>
			</div>
			<center><p><a href="{% url 'quotation' 'torism' %}" class="btn btn-primary btn-outline with-arrow">Obtenir un devis<i class="icon-arrow-right"></i></a></p></center>
		</div>
	</div>

<div id="fh5co-services-section">
		<div class="container">
			<div class="row fh5co-services">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
					<h2>Le plaisir de vous faire découvrir les plus belles destination d'Afrique</h2>
					<p>Nos suggestions pour vous évader en Afrique du Sud:</p>
				</div>
				<div class="col-md-4 text-center item-block animate-box">
				    <h3>Johannesburg</h3>
					<p></p>
					<p><a class="btn btn-primary btn-outline with-arrow">En Savoir plus <i class="icon-arrow-right"></i></a></p>
					</div>
				<div class="col-md-4 text-center item-block animate-box">

					<h3>Vanderbijlpark</h3>
					<p>Située à 70km de Johannesburg, Vanderbijlpark est une petite ville industrielle au nombreux attraits dont le cout de vie est à la portée de toutes les bourses. De ce fait, nous vous invitons à...</p>
					<p><a href="{% url 'tourism_destination' 'Vanderbijlpark' %}" class="btn btn-primary btn-outline with-arrow">En Savoir plus <i class="icon-arrow-right"></i></a></p>

				</div>
				<div class="col-md-4 text-center item-block animate-box">
					<h3>Pretoria</h3>
					<p></p>
					<p><a class="btn btn-primary btn-outline with-arrow">En Savoir plus <i class="icon-arrow-right"></i></a></p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
