/*-----------Customer PAGE--------*/
/*--------------------------------------*/
body{
    background-color:#e8e8e8;
}
/*-------list style---------*/
ul{
      list-style:none;

}
ul li a:hover{
    opacity:0.7;
}




/*-------content----*/
#content {
    background-color: #fff;
    background-image: url("imgs/bg02.png");
    padding: 0;
    margin: 0;
    margin-right: 2px;
    height:1140px;

}

#header {
    background:none;
    width: 95%;
    float: right;
    display:flex;
    height:auto;
   border-bottom: solid 5px #483152;
    padding: 2em 0 1em 0;
    position: relative;
}

#header h2{

   	font-weight: 700;
		color: #232323;
        text-align:left;
        border-bottom:none;
        width:120%;
        padding-top:4%;


}
#header h2:after{

        display: none;
        height: 2px;
        background-color: #483152;
        content: " ";
        width: 180px;
        margin: 0 auto;
        margin-top: 30px;

}
/*-----------ICONS-------------*/
.menu-nav-icon{
    /*width:90%;*/
    margin-top:30px;
    cursor:pointer;
    display:inline-block;
}
.menu-nav-icon i{
    font-size:200%;
    float:left;
    width:150%;
    margin-right:15px;
    color: #364050;

}
.menu-nav-icon a{
     margin-bottom:40px;
}
.iclose {
    float: right;
    cursor: pointer;
    display: block;
}
.iclose i{
    font-size:100%;
    padding-right:15px;
}


/*--------sidebar--------------*/
#sidebar{
    font-size:16px;
   color:#aaa;
   color: rgba(255, 255, 255, 0.55);
   text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.5);
   margin-right:10px;
   padding: 3em 0 0 0;
   background: #364050 url(imgs/bg01.png);
   overflow: hidden;
    box-shadow: inset -0.1em 0em 0.35em 0em rgba(0, 0, 0, 0.15);
    height: 1140px;
    width: 0;
    position: absolute;
   z-index: 1;
    top: 0;
    left: 0;
      transition: 0.5s;

}

		#sidebar section, #sidebar nav {
			position: relative;
			margin: 2em 0 0 0;
			font-size: 0.9em;
		}
#sidebar section:before, #sidebar nav:before {
				content: '';
				border-top: solid 1px;
				border-bottom: solid 1px;
				border-color: #171E29;
				border-color: rgba(0, 0, 0, 0.25);
				box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.075), 0px 1px 0px 0px rgba(255, 255, 255, 0.075);
				display: block;
				height: 0.5em;
				margin: 0 0 2em 0;
			}

#sidebar strong, #sidebar b {
			color: #fff;
		}

#sidebar a {
			color: #d4dde0;
		}
 #sidebar h3, #sidebar h4, #sidebar h5, #sidebar h6 {
			color: #fff;
		}

#sidebar header {
			margin: 0 0 1.25em 0;
		}
#logo{
     height: auto;
    width: 100px;
    border-radius:50%;
    position:relative;
   left:25%;
   margin-bottom:30px;
}
/*-------------sections---------*/
.calendar{
    width:105%;
}
/* Box */

	.box.calendar .inner {
		position: relative;
		background-color: #272E39;
		background-color: rgba(0, 0, 0, 0.15);
		border-radius: 0.4em;
		padding: 0.75em 0.5em 0.75em 0.5em;
		box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
	}

	.box.calendar caption {
		font-weight: 700;
		color: #fff;
		margin: 0 0 0.25em 0;
	}

	.box.calendar table {
		margin: 0 auto;
        width:auto;
	}

	.box.calendar td {
		cursor: default;
		padding: 0.35em 0 0.35em 0;
		border-top: solid 1px rgba(0, 0, 0, 0.25);
		box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.075);
	}

	.box.calendar th {
		cursor: default;
		padding: 0.35em 0 0.35em 0;
		border-top: solid 1px rgba(0, 0, 0, 0.25);
		box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.075);
		font-weight: 700;
		color: #fff;
	}

	.box.calendar td a, .box.calendar td span {
		display: block;
		margin: 0 auto;
		width: 1.5em;
		height: 1.5em;
		text-align: center;
		line-height: 1.4em;
		border-radius: 0.4em;
		-moz-transition: background-color .25s ease-in-out;
		-webkit-transition: background-color .25s ease-in-out;
		transition: background-color .25s ease-in-out;
		text-decoration: none;
	}

	.box.calendar td a {
		color: #fff;
		font-weight: 700;
	}

		.box.calendar td a:hover {
			background-color: rgba(200, 225, 255, 0.1);
			color: #fff;
		}

	.box.calendar td.today a {
		background-color: #c94663;
		background-image: url("images/bg01.png");
		box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.15), 0 0.025em 0.15em 0em rgba(0, 0, 0, 0.25);
		color: #fff !important;
	}
    	.box.recent-posts li {
		border-top: solid 1px rgba(0, 0, 0, 0.25);
		box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.075);
		padding: 0.5em 0 0.5em 0;
	}

		.box.recent-posts li:first-child {
			border-top: 0;
			box-shadow: none;
			padding-top: 0;
		}

		.box.recent-posts li:last-child {
			padding-bottom: 0;
		}
        .box.search form {
		position: relative;
	}

		.box.search form input {
			position: relative;
			padding-right: 34px;
		}

		.box.search form:before {
			display: inline-block;
			font-family: FontAwesome;
			font-size: 18px;
			text-decoration: none;
			font-style: normal;
			font-weight: normal;
			-webkit-font-smoothing: antialiased;
			content: '\f002';
			filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
			-moz-transform: scale(-1, 1);
			-webkit-transform: scale(-1, 1);
			-ms-transform: scale(-1, 1);
			transform: scale(-1, 1);
			position: absolute;
			right: 0.5em;
			top: 0.25em;
			z-index: 1;
			text-shadow: none;
			color: #c8ccce;
		}
        .box.text-style1 .inner {
		position: relative;
		background-color: #272E39;
		background-color: rgba(0, 0, 0, 0.15);
		border-radius: 0.4em;
		padding: 1.25em;
		box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
	}
        /* Nav */

	#mini-nav{
        display:none;
	}
    #main-nav li:hover #mini-nav{
        display:block;
        background-color:none;
    }
	#nav ul {
		margin: 0;
        padding: 0 10px;
	}

	#nav li {
		border-top: solid 1px rgba(0, 0, 0, 0.25);
		box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.075);
		padding: 0.5em 0 0.5em 0;
	}

		#nav li:first-child {
			border: 0;
			box-shadow: none;
			padding-top: 0;
		}

		#nav li:last-child {
			padding-bottom: 0;
		}

		#nav li a {
			display: block;
			padding: 0.4em 1em 0.4em 1em;
			text-decoration: none;
			border-radius: 0.4em;
			outline: 0;
			-moz-transition: background-color .25s ease-in-out, color .25s ease-in-out;
			transition: background-color .25s ease-in-out, color .25s ease-in-out;
            border-bottom:none;
		}

		#nav li.current a {
			background-color: #272E39 !important;
			background-color: rgba(0, 0, 0, 0.15) !important;
			box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
			font-weight: 700;
			color: #fff;
		}

		#nav li:hover a {
			/*background-color: rgba(255, 255, 255, 0.1);*/
			color: #fff;
		}

       /* Table */

	table {
		margin-bottom: 1em;
		width: 100%;
	}

		table.default tbody tr:nth-child(2n+2) {
			background: #f4f4f4;
		}

		table.default td {
			padding: 0.5em 1em 0.5em 1em;
		}

		table.default th {
			text-align: left;
			font-weight: 700;
			padding: 0.75em 1em 0.75em 1em;
		}

		table.default thead {
			border-bottom: solid 1px #ddd;
		}

		table.default tfoot {
			border-top: solid 1px #ddd;
			background: #eee;
		}
/* Copyright */

	#copyright {
		padding:2em 0 2em 0;
	}
    #copyright li{
        margin-top:10px;
    }
		#copyright p {
			opacity: 0.75;
		}

		#copyright a {
			color: inherit !important;
		}

		#copyright:before {
			content: '';
			border-top: solid 1px;
			border-bottom: solid 1px;
			border-color: #171E29;
			border-color: rgba(0, 0, 0, 0.25);
			box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.075), 0px 1px 0px 0px rgba(255, 255, 255, 0.075);
			display: block;
		}
