{% load staticfiles  %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

   <link rel="apple-touch-icon" sizes="180x180" href="{% static 'app/resources/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'app/resources/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'app/resources/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'app/resources/favicons/manifest.json' %}">
    <link rel="mask-icon" href="{% static 'app/resources/favicons/safari-pinned-tab.svg' %}" color="#483152">
    <meta name="theme-color" content="#ffffff">

    <title>BRANCH NAT</title>

     <link rel="stylesheet" type="text/css" href="{% static 'app/vendors/css/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/vendors/css/grid.css' %}" />
     <link rel="stylesheet" type="text/css" href="{% static 'app/resources/css/branch.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/resources/css/Mystyle.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/resources/css/querries.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/vendors/css/ionicons.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/vendors/css/animate.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
</head>

<body>

    <div id="content">

        <header id="header">

                <a onclick="openNav()" id="menu-icon" class="menu-nav-icon"><i class="ion-navicon-round"></i></a>
            <div class="row">
            <h2>BIENVENUE SUR NAT GLOBAL SERVICE</h2>
             </div>
</header>
<!-- Page content -->
<div>
  {% block content %}

  {% endblock %}
</div>

    </div>
    <!-- Sidebar -->
    <div id="sidebar" class="sidenav animated slideInLeft">
        <a onclick="closeNav()" class="iclose"><i class="ion-close-round"></i></a>
        <!-- Logo -->
        <a href="http://natglobalservices.com/" style="border-bottom:none;"><img id="logo" src="{% static 'app/resources/images/nat-global-logo.jpeg' %}" /></a>

        <!-- Nav -->
         <!-- Nav -->
        <nav id="nav" style="background:none;">
            <ul id="main-nav">
                <li class="current"><a href="#">Services</a></li>
                <li>
                   <a href="#" style="border-bottom:none;">Transfert d'argent</a>
                    <ul id="mini-nav">
                        <li><a  href="{% url 'send money' %}">Envoyer</a></li>
                        <li><a href="#">recevoir</a></li>
                    </ul>
                </li>
                <li class="current"><a href="#">Contactez-nous</a></li>
            </ul>

        </nav>
        <!-- Search -->
        <section class="box search">
            <form method="post" action="#">
                <input type="text" class="text" name="search" placeholder="recherchez"/>
            </form>
        </section>
        <!--<section class="box recent-posts">
            <header style="background:none; height:auto;">
                <h3>Activites recentes</h3>
            </header>
            <ul>
                <li><a href="#">Finance</a></li>
                <li><a href="#">Import/Export</a></li>
                <li><a href="#">Tourisme</a></li>
                <li><a href="#">Academie</a></li>
            </ul>
        </section>-->
        <!-- Calendar -->
        <section class="box calendar">
            <div class="inner">
                <table>
                    <caption>July 2014</caption>
                    <thead>
                        <tr>
                            <th scope="col" title="Monday">M</th>
                            <th scope="col" title="Tuesday">T</th>
                            <th scope="col" title="Wednesday">W</th>
                            <th scope="col" title="Thursday">T</th>
                            <th scope="col" title="Friday">F</th>
                            <th scope="col" title="Saturday">S</th>
                            <th scope="col" title="Sunday">S</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="4" class="pad"><span>&nbsp;</span></td>
                            <td><span>1</span></td>
                            <td><span>2</span></td>
                            <td><span>3</span></td>
                        </tr>
                        <tr>
                            <td><span>4</span></td>
                            <td><span>5</span></td>
                            <td><a href="#">6</a></td>
                            <td><span>7</span></td>
                            <td><span>8</span></td>
                            <td><span>9</span></td>
                            <td><a href="#">10</a></td>
                        </tr>
                        <tr>
                            <td><span>11</span></td>
                            <td><span>12</span></td>
                            <td><span>13</span></td>
                            <td class="today"><a href="#">14</a></td>
                            <td><span>15</span></td>
                            <td><span>16</span></td>
                            <td><span>17</span></td>
                        </tr>
                        <tr>
                            <td><span>18</span></td>
                            <td><span>19</span></td>
                            <td><span>20</span></td>
                            <td><span>21</span></td>
                            <td><span>22</span></td>
                            <td><a href="#">23</a></td>
                            <td><span>24</span></td>
                        </tr>
                        <tr>
                            <td><a href="#">25</a></td>
                            <td><span>26</span></td>
                            <td><span>27</span></td>
                            <td><span>28</span></td>
                            <td><span>29</span></td>
                            <td><span>30</span></td>
                            <td><span>31</span></td>
                            <td class="pad" colspan="3"><span>&nbsp;</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <!-- Copyright -->
        <ul id="copyright">
            <li>&copy; Copyright.</li>
            <li>Design: <a href="#">The panda Firm</a></li>
            <li> <a href="#"><i class="ion-gear-b"></i></a></li>
            </ul>

    </div>
    <script >

        function closeNav() {
            document.getElementById("sidebar").style.width = "0";
            document.getElementById("content").style.marginLeft = "0";
            document.getElementById("sidebar").style.opacity = "1";

        }

        function openNav() {

            document.getElementById("sidebar").style.width = "250px";
            document.getElementById("content").style.marginLeft = "250px";
            document.getElementById("sidenav").style.opacity = "0";

        }

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="vendors/js/jquery.waypoints.min.js"></script>
    <script src="resources/javascript/script.js"></script>
</body>
</html>