{% load staticfiles  %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NATGS| Identification de branche</title>
    <!--<title>Ooops!!! Systeme Hors Service</title>-->

    <link rel="stylesheet" type="text/css" href="{% static 'app/vendors/css/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/vendors/css/grid.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/resources/css/Mystyle.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/resources/css/querries.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/vendors/css/ionicons.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/vendors/css/animate.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">


  </head>

  <body class="login">
        <center>
            <img src="http://www.pvhc.net/img152/ujdwpwkjubpmiptwmgsj.jpg" title="Hors service!!!" alt="Ooops!!! On est hors service"/>
        </center>
        <!--<form class="modal-content" method="post" autocomplete="off" >-->
        <!--        {% csrf_token %}-->
        <!--        <div class="imgcontainer">-->
        <!--            <img src="{% static 'app/resources/images/nat-global-logo.jpeg' %}" alt="Avatar" class="avatar">-->
        <!--        </div>-->
        <!--        {{ form.non_field_errors }}-->
        <!--        <div class="container">-->
        <!--            {{ form.name.errors }}-->
        <!--            <label for="{{ form.name.id_for_label }}"><b>Branche</b></label>-->
        <!--            {{ form.name }}-->

        <!--            {{ form.passPhrase.errors }}-->
        <!--            <label for="{{ form.passPhrase.id_for_label }}"><b>Mot de passe</b></label>-->
        <!--             {{ form.passPhrase }}-->

        <!--            <button type="submit">Soumettre</button>-->
        <!--            <a href='{% url 'home' %}'><button type="button" onclick="document.getElementById('pop').style.display='none'" class="cancelbtn">Cancel</button>-->
        <!--            <center><p>{{ fb_msg }}</p></center>-->
        <!--        </div>-->
        <!--    </form>-->
    <!-- jQuery -->
    <script src="{% static 'app/Bootstrap/vendors/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'app/Bootstrap/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'app/Bootstrap/vendors/fastclick/lib/fastclick.js' %}"></script>
    <!-- NProgress -->
    <script src="{% static 'app/Bootstrap/vendors/nprogress/nprogress.js' %}"></script>
    <!-- jQuery Smart Wizard -->
    <script src="{% static 'app/Bootstrap/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js' %}"></script>
    <!-- Chart.js -->
    <script src="{% static 'app/Bootstrap/vendors/Chart.js/dist/Chart.min.js' %}"></script>
    <!-- gauge.js -->
    <script src="{% static 'app/Bootstrap/vendors/gauge.js/dist/gauge.min.js' %}"></script>
    <!-- bootstrap-progressbar -->
    <script src="{% static 'app/Bootstrap/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
    <!-- iCheck -->
    <script src="{% static 'app/Bootstrap/vendors/iCheck/icheck.min.js' %}"></script>
    <!-- Skycons -->
    <script src="{% static 'app/Bootstrap/vendors/skycons/skycons.js' %}"></script>
    <!-- Flot -->
    <script src="{% static 'app/Bootstrap/vendors/Flot/jquery.flot.js' %}"></script>
    <script src="{% static 'app/Bootstrap/vendors/Flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'app/Bootstrap/vendors/Flot/jquery.flot.time.js' %}"></script>
    <script src="{% static 'app/Bootstrap/vendors/Flot/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'app/Bootstrap/vendors/Flot/jquery.flot.resize.js' %}"></script>
    <!-- Flot plugins -->
    <script src="{% static 'app/Bootstrap/vendors/flot.orderbars/js/jquery.flot.orderBars.js' %}"></script>
    <script src="{% static 'app/Bootstrap/vendors/flot-spline/js/jquery.flot.spline.min.js' %}"></script>
    <script src="{% static 'app/Bootstrap/vendors/flot.curvedlines/curvedLines.js' %}"></script>
    <!-- DateJS -->
    <script src="{% static 'app/Bootstrap/vendors/DateJS/build/date.js' %}"></script>
    <!-- JQVMap -->
    <script src="{% static 'app/Bootstrap/vendors/jqvmap/dist/jquery.vmap.js' %}"></script>
    <script src="{% static 'app/Bootstrap/vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
    <script src="{% static 'app/Bootstrap/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{% static 'app/Bootstrap/vendors/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'app/Bootstrap/vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{% static 'app/Bootstrap/build/js/custom.min.js' %}"></script>
  </body>
</html>
