{% extends 'app/Branch/layout.html' %}


{% block pageTitle %}NAT| Transfer : Historique{% endblock %}


{% block content %}

<div class="row">
                <div class="col-sm-12">
                    <table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                        {% for x in transfers_list %}
                            <thead>
                            <tr role="row">
                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="2" aria-label="Branch: activate to sort column ascending" style="width: 150px;">Libreville</th>
                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="2" aria-label="Agent: activate to sort column ascending" style="width: 132px;">Port Gentil</th>
                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="2" aria-label="Date: activate to sort column ascending" >Pretoria</th>
                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="2" aria-label="Date: activate to sort column ascending" >Johannesburg</th>
                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="2" aria-label="Code: activate to sort column ascending" style="width: 123px;">Vaal</th>
                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="2" aria-label="Code: activate to sort column ascending" style="width: 123px;">Capetown</th>

                            </tr>
                        </thead>
                            {% for in,out in x %}
                            <tr>
                                <td>{{ in }}</td>
                                <td>{{ out }}</td>
                            <tr/>
                            {% endfor %}
                        {% endfor %}
                        <tr>
                            <td>{{ lenght }}</td>
                        </tr>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

{% endblock %}