<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
</head>

<body>
{% for branch in branches %}
<p>{{ branch.name }} : {{ branch.current_balance }}</p>
{% endfor %}
</body>
</html>