/*site:#483152*/
/*-----------MAIN PAGE--------*/
/*---------------------------------------*/
/*----------BASIC SETUP------------*/
*{
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
html,
body{
    background-color:white;
    color:#483152;
    font-family: 'Lato','arial',sans-serif;
    font-weight:300;
    font-size:20px;
    text-rendering:optimizeLegibility;
    overflow-x:hidden;
}
.clearfix{
    zoom:1;
}
.clearfix::after{
    content:" ";
    clear:both;
    display:block;
    height:0;
    visibility:hidden;


}

/*---------------REUSABLE COMPONENTS-----------*/
.row{
    max-width:1140px;
    margin: 0 auto;

}
section{
    padding:80px 0;
}
.box{
    padding:1%;
}
/*-----------------LINKS----------------*/
a:link,
a:visited{
    color:#483152;
    text-decoration:none;
    padding-bottom:2px;
    border-bottom:1px solid #483152;
    transition:border-bottom 0.2s, color 0.2s;
}
a:hover,
a:active{
    color:#555;
    border-bottom:1px solid transparent;
}
/*--------------HEADINGS-----------------*/
h1, h2,h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight:300;
}
h1{
     margin-top:0;
     margin-bottom:20px;
    color:white;
    font-size:240%;
     word-spacing:4px;
}
h2{
    font-size:180%;
    word-spacing:2px;
    text-align:center;
    margin-bottom:30px;
}
h3{
    font-size:110%;
    margin-bottom:15px;
    text-align:center;
}
h2:after {
        display: block;
        height: 2px;
        background-color: #483152;
        content: " ";
        width: 180px;
        margin: 0 auto;
        margin-top: 30px;
    }
/*---------------HEADER-------------*/

header{
    background-image:linear-gradient(rgba(52, 2, 74, 0.7),rgba(52, 2, 74, 0.7)), url(imgs/background-header.jpg);
    background-size: cover;
     background-position:center;
    height: 100vh;
    background-attachment:fixed;
}
.logo {
    height: 80px;
    width: auto;
    float: left;
    border-radius: 50%;
    margin: 10px 0;
    padding: 0;
}
.header-text{
    position:absolute;
    width:1140px;
    top:50%;
    left:50%;
   /*height:150px;*/
    transform:translate(-50%,-50%);
}
.header-text div  {
    float:right;
    width:200px;
    position:relative;
    top:65px;

}
.header-text div img{
    position:absolute;
    height:250px;
    bottom:10px;
    right:2px;


}
/*--------------BUTTONS---------*/
.bton:link,
.bton:visited{
    display:inline-block;
    padding:10px 30px;
    font-weight:300;
    text-decoration:none;
    border-radius:200px;
    color:#483152;
    transition:background-color 0.2s,border 0.2s, color 0.2s;

}
input[type="submit"]{
     display:inline-block;
    padding:10px 30px;
    font-weight:300;
    text-decoration:none;
    border-radius:200px;
    color:white;
    transition:background-color 0.2s,border 0.2s, color 0.2s;
    background-color:#483152;
    border:1px solid #483152;
    margin-right:15px;
}
input[type="submit"]:hover,
input[type="submit"]:active{
    background-color:#3f2b47;
    border:1px solid #3f2b47;
}
.bton-full:link,
.bton-full:visited{
    background-color:white;
    border:1px solid white;
    margin-right:15px;
}
.bton-ghost:link,
.bton-ghost:visited{
    border:1px solid #51375d;
    color: white;
}
.bton-full:hover,
.bton-full:active
{
    border:1px solid #231827;
}
.bton-ghost:hover,
.bton-ghost:active{
      background-color:white;
      border:1px solid white;
     color:#483152;

}
/*------MAIN NAV------*/

nav{
    background-color:#483152;
}
.main-nav{
    float:right;
    margin-top:55px;
}
.main-nav li{
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-right: 0;
}
.main-nav a:link,
.main-nav a:visited{
    color:white;
    text-decoration: none;
    font-size: 90%;
    margin-right: 10px;
}
.main-nav a:hover,
.main-nav a:active{
    color:#100b12;
}
.mini-main-nav{
    display: none;
    position: absolute;
    background-color:#483152;
    list-style:none;
    z-index:1;
    float: right;
}
.mini-main-nav a:link,
.mini-main-nav a:visited{
    color:white;
   padding: 12px 0;
    text-decoration:none;
    display:block;
    font-size:90%;
    width: 200px;
}
.mini-main-nav a:hover,
.mini-main-nav a:active{
        color:#100b12;
}
.main-nav li:hover .mini-main-nav{

	display:block;
    background-color:rgba(72, 49, 82, 0.63);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition:all 0.2s;

}
.mini-main-nav li{
    position: relative;
    display: inline-block;


}
.mini-nav{
    float: left;
    display: none;
}
.mini-nav li {
    text-align: left;
    padding: 0;
    margin-bottom: 0;
    margin-left: 20px;

}
.mini-main-nav li:hover .mini-nav{
    display: block;
    transition: color 0.2s;
}
/*sticky*/
.sticky{
    position:fixed;
    top: 0;
    left:0;
    width:100%;
    background-color:rgba(255,255,255,0.98);
    box-shadow:0 2px 2px #efefef;
    z-index:9999;
}
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
        color: #555;
        padding: 16px 0;
    }
.sticky .main-nav{ margin-top: 18px; }
.sticky .mini-main-nav a:link,
.sticky .mini-main-nav a:visited{
      color: #555;
        padding: 16px 0;
}
.sticky .main-nav li:hover .mini-main-nav {
     background-color:rgba(255,255,255,0.98);
    box-shadow:0 2px 2px #efefef;
}
/*------MOBILE NAVIGATION--------------*/
.mobile-nav-icon{
    float:right;
    margin-top:30px;
    cursor:pointer;
    display:none;
}
.mobile-nav-icon i{
    font-size:200%;
    color:white;
}
/*-----square------*/
.square{

    border-left: 4px solid #aaa;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    content: "";
    display: inline-block;
    height: 0;
    margin-left:5px;
    padding-left:5px;
    vertical-align: middle;
}
.mini-main-nav li:hover  .square{

      border-top: 4px solid #aaa;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    padding-left:2px;
    vertical-align: middle;

}
/*-----------------PARAGRAPHS----------*/
.long-copy{
    line-height:150%;
    width:63%;
    text-align:center;
    margin-left:20%;
}
.box p{
    font-size:90%;
    line-height:145%;
    text-align:center;
}
/*--------------ICONS---------------*/
.icon-big {
    font-size: 300%;
    display: block;
    color: #483152;
    margin-bottom: 10px;
    text-align: center;
}
.icon-small{
     display:inline-block;
     width:50px;
     text-align:center;
     color:#483152;
     font-size:120%;
     /*secret to align text and icon*/
     line-height:110%;
     vertical-align:middle;
     margin-top:-5px;
     margin-left:10px;
 }
/*-----------------FEATURES----------------*/
.features{
    padding-bottom:0;

}
.features .long-copy{
    margin-bottom:30px;
}
/*----------------CITIES---------------*/
.section-city{
     margin-top:10px;
     background-color:#f4f4f4;
}
.box img{
     width:100%;
     height:auto;
     margin-bottom:15px;
 }
 .city-features{
     margin-bottom:5px;
 }
 #moanda{
     width:90%;
 }
/*---------------------CONTACT FORM--------------*/
 .contact-form{
     width:60%;
     margin:0 auto;
 }
 input[type=text],
 input[type=email],select,textarea{
     width:100%;
     padding:7px;
     border-radius:3px;
     border:1px solid #ccc;
 }
 textarea{
     height:100%;
     width:100%;
 }
 input[type=checkbox]{
     margin: 10px 5px 10px 0;
 }
 *:focus{
     outline:none;
 }
 /*------------------------FOOTER-----------------*/
 footer{
     background-color:#333;
     padding:50px;
     font-size:80%;

 }
 footer p{
     color:#888;
     text-align:center;
     font-size:90%;
     margin-top:30px;
 }
.footer-nav{
     list-style:none;
     float:left;
 }
.social-link{
     list-style:none;
     float:right;
 }
 .footer-nav li,.social-link li{
     display:inline-block;
     margin-right:20px;
 }
 .footer-nav li:last-child
 ,.social-link li:last-child{
     margin:0;
 }
 .footer-nav li a:link,
 .footer-nav li a:visited,
 .social-link li a:link,
 .social-link li a:visited{
     text-decoration:none;
     border:0;
     color:#888;
     transition:color 0.2s;
 }
    .footer-nav li a:hover,
    .footer-nav li a:active
     {
        color: #ddd;
    }
     .social-link li a:link,
 .social-link li a:visited{
         font-size:150%;

     }
   .ion-social-facebook,
   .ion-social-googleplus,
   .ion-social-instagram,
   .ion-social-twitter{
       transition: color 0.2s
   }
.ion-social-facebook:hover{
    color:#3b5998;
}
.ion-social-twitter:hover{
    color:#00aced;
}
.ion-social-googleplus:hover{
    color:#dd4b39;
}
.ion-social-instagram:hover{
    color:#517fa4;
}
/*--------------popup-----------*/

/* Center the image and position the close button for popup*/
.imgcontainer {
    text-align: center;
    margin:  0;
    position: relative;
    background:#fefefe;

}

img.avatar {
    width:100px;
    height:100px;
    padding:0;
    border-radius: 50%;
}
.close {
    position: absolute;
    right:30px;
    top: 25px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height:auto; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #fefefe;
    border-radius:10px;
    width:600px; /* Could be more or less, depending on screen size */
    height:auto;
}
/*container/box*/
.container {
    padding:10px;
    margin-bottom:2px;
}
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    height:30px;
    padding: 12px 12px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius:6px;
}
.container label{
    font-size:16px;
    font-weight:400;
}
span.psw {
    float: right;
    padding-top: 8px;
}

/* Set a style for all buttons */
button {
    display:inline-block;
    padding:10px 10px;
    margin:10px 0;
    font-weight:200;
    text-decoration:none;
    border-radius:6px;
    color:white;
    transition:background-color 0.2s,border 0.2s, color 0.2s;
    background-color:#581358;
    border:1px solid #581358;
    width:30%;
    height:35px;
    font-size:16px;
    position:relative;
    left:15%;
    margin-right:15px;
}
button:hover {
    opacity: 0.8;
}
.cancelbtn {
    width: 30%;
    padding: 10px 18px;
    background-color: #9e122b;
/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

@-moz-keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
