{% extends 'app/public/layout.html' %}
{% load staticfiles  %}
{% block title %}
NATGS|Destination: Vanderbijlpark
{% endblock %}

{% block content %}
<aside id="fh5co-hero" class="js-fullheight">
		<div class="flexslider js-fullheight">
			<ul class="slides">
		   	<li style="background-image: url({% static 'app/flew/images/destination1/Vaal-river-lodge-3.jpg' %});">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<h2 style="color:#ffffff;text-shadow: 2px 2px #483152;">Vanderbijlpark</h2>
		   					<p class="fh5co-lead"><i class="icon-heart"></i> <i class="icon-heart"> </i><i class="icon-heart"></i></p>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		  	</ul>
	  	</div>
	</aside>
<div class="fh5co-about animate-box fadeInUp animated">
		<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
			<h2>Quid Est</h2>
			<p>Située à 60km de Johannesburg, Vanderbijlpark est une petite ville industrielle au nombreux attraits dont le cout de vie est à la portée de toutes les bourses. De ce fait, nous vous invitons à la découverte de cette magnifique, calme, paisible et hospitalière ville où il fait bon vivre.
Vous êtes étudiant à la recherche d’une école supérieure ou une université en Afrique du Sud, Vanderbijlpark vous accueille dans une université(VUT) avec un taux de réussite excellent. En effet, Vanderbijlpark est la ville là mieux indiquée pour étudier en Afrique du Sud car Vanderbijlpark offre un cadre idéal aux étudiants.
</p>
		</div>
		<div class="container">
			<div class="col-md-12 animate-box fadeInUp animated">
				<figure>
					<img src="{% static 'app/flew/images/destination1/vanderbiljpark-town.jpg' %}" alt="Free HTML5 Template" class="img-responsive">
				</figure>
			</div>
			<div class="col-md-8 col-md-push-4 animate-box fadeInUp animated">
				<h2>Ville Industrielle mais Calme!</h2>
				<p>Vous êtes un homme d’affaire, vous êtes en vacances et vous désirez découvrir d’autres horizons, nouveaux mariés vous cherchez un endroit idéal pour votre lune de miel, vous avez des problèmes de santé et désirez consulter des spécialistes et vous faire suivre dans les meilleurs hôpitaux, vous êtes enceintes et désirez accoucher dans les meilleures conditions ; détendez-vous, nous avons pensé à tout. NAT Tourisme vous accueille dans la ville de Vanderbijlpark, et vous offre des services de qualité dont les prix sont à la portée de toutes les bourses.</p>
			</div>
		</div>
	</div>
{% endblock %}
